create use own dataframe with schema

In [0]:
data = [(1,'umair'),(2,"pihu")]
schema =['id','name']
df = spark.createDataFrame(data,schema)
df.display()
df.printSchema()

id,name
1,umair
2,pihu

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)

In [0]:
from pyspark.sql.types import *
data = [{'id':1,'name':"umair"},{'id':2,'name':"pihu"},{"id":3,"name":"priyanka"}]
df = spark.createDataFrame(data)
df.display()
df.printSchema()

id,name
1,umair
2,pihu
3,priyanka

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)

In [0]:
from pyspark.sql.types import *
data = [{'id':1,'name':"umair"},{'id':2,'name':"pihu"},{"id":3,'name':"priyanka"}]
schema= StructType([StructField(name ='id',dataType=IntegerType()),StructField(name= 'name',dataType=StringType())])
df = spark.createDataFrame(data,schema)
df.display()
df.printSchema()

id,name
1,umair
2,pihu
3,priyanka

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)

In [0]:
type("abc")

Out[4]: str

In [0]:
type(spark)

Out[5]: pyspark.sql.session.SparkSession

In [0]:
help(spark.createDataFrame)

Help on method createDataFrame in module pyspark.sql.session:

createDataFrame(data: Union[pyspark.rdd.RDD[Any], Iterable[Any], ForwardRef('PandasDataFrameLike'), ForwardRef('ArrayLike')], schema: Union[pyspark.sql.types.AtomicType, pyspark.sql.types.StructType, str, NoneType] = None, samplingRatio: Optional[float] = None, verifySchema: bool = True) -> pyspark.sql.dataframe.DataFrame method of pyspark.sql.session.SparkSession instance
    Creates a :class:`DataFrame` from an :class:`RDD`, a list, a :class:`pandas.DataFrame`
    or a :class:`numpy.ndarray`.

    When ``schema`` is a list of column names, the type of each column
    will be inferred from ``data``.

    When ``schema`` is ``None``, it will try to infer the schema (column names and types)
    from ``data``, which should be an RDD of either :class:`Row`,
    :class:`namedtuple`, or :class:`dict`.

    When ``schema`` is :class:`pyspark.sql.types.DataType` or a datatype string, it must match
    the real data, or an exception will be thrown at runtime. If the given schema is not
    :class:`pyspark.sql.types.StructType`, it will be wrapped into a
    :class:`pyspark.sql.types.StructType` as its only field, and the field name will be "value".
    Each record will also be wrapped into a tuple, which can be converted to row later.

    If schema inference is needed, ``samplingRatio`` is used to determined the ratio of
    rows used for schema inference. The first row will be used if ``samplingRatio`` is ``None``.

    .. versionadded:: 2.0.0

    .. versionchanged:: 2.1.0
       Added verifySchema.

    Parameters
    ----------
    data : :class:`RDD` or iterable
        an RDD of any kind of SQL data representation (:class:`Row`,
        :class:`tuple`, ``int``, ``boolean``, etc.), or :class:`list`,
        :class:`pandas.DataFrame` or :class:`numpy.ndarray`.
    schema : :class:`pyspark.sql.types.DataType`, str or list, optional
        a :class:`pyspark.sql.types.DataType` or a datatype string or a list of
        column names, default is None.  The data type string format equals to
        :class:`pyspark.sql.types.DataType.simpleString`, except that top level struct type can
        omit the ``struct<>``.
    samplingRatio : float, optional
        the sample ratio of rows used for inferring
    verifySchema : bool, optional
        verify data types of every row against schema. Enabled by default.

    Returns
    -------
    :class:`DataFrame`

    Notes
    -----
    Usage with spark.sql.execution.arrow.pyspark.enabled=True is experimental.

    Examples
    --------
    >>> l = [('Alice', 1)]
    >>> spark.createDataFrame(l).collect()
    [Row(_1='Alice', _2=1)]
    >>> spark.createDataFrame(l, ['name', 'age']).collect()
    [Row(name='Alice', age=1)]

    >>> d = [{'name': 'Alice', 'age': 1}]
    >>> spark.createDataFrame(d).collect()
    [Row(age=1, name='Alice')]

    >>> rdd = sc.parallelize(l)
    >>> spark.createDataFrame(rdd).collect()
    [Row(_1='Alice', _2=1)]
    >>> df = spark.createDataFrame(rdd, ['name', 'age'])
    >>> df.collect()
    [Row(name='Alice', age=1)]

    >>> from pyspark.sql import Row
    >>> Person = Row('name', 'age')
    >>> person = rdd.map(lambda r: Person(*r))
    >>> df2 = spark.createDataFrame(person)
    >>> df2.collect()
    [Row(name='Alice', age=1)]

    >>> from pyspark.sql.types import *
    >>> schema = StructType([
    ...    StructField("name", StringType(), True),
    ...    StructField("age", IntegerType(), True)])
    >>> df3 = spark.createDataFrame(rdd, schema)
    >>> df3.collect()
    [Row(name='Alice', age=1)]

    >>> spark.createDataFrame(df.toPandas()).collect()  # doctest: +SKIP
    [Row(name='Alice', age=1)]
    >>> spark.createDataFrame(pandas.DataFrame([[1, 2]])).collect()  # doctest: +SKIP
    [Row(0=1, 1=2)]

    >>> spark.createDataFrame(rdd, "a: string, b: int").collect()
    [Row(a='Alice', b=1)]
    >>> rdd = rdd.map(lambda row: row[1])
    >>> spark.createDataFrame(rdd, "int").collect()
    [Row(value=1)]
    >>> spark.createDataFrame(rdd, "boolean").collect() # doctest: +IGNORE_EXCEPTION_DETAIL
    Traceback (most recent call last):
        ...
    Py4JJavaError: ...

In [0]:
help(spark)

Help on SparkSession in module pyspark.sql.session object:

class SparkSession(pyspark.sql.pandas.conversion.SparkConversionMixin)
 |  SparkSession(sparkContext: pyspark.context.SparkContext, jsparkSession: Optional[py4j.java_gateway.JavaObject] = None, options: Dict[str, Any] = {})
 |
 |  The entry point to programming Spark with the Dataset and DataFrame API.
 |
 |  A SparkSession can be used create :class:`DataFrame`, register :class:`DataFrame` as
 |  tables, execute SQL over tables, cache tables, and read parquet files.
 |  To create a :class:`SparkSession`, use the following builder pattern:
 |
 |  .. autoattribute:: builder
 |     :annotation:
 |
 |  Examples
 |  --------
 |  >>> spark = SparkSession.builder \
 |  ...     .master("local") \
 |  ...     .appName("Word Count") \
 |  ...     .config("spark.some.config.option", "some-value") \
 |  ...     .getOrCreate()
 |
 |  >>> from datetime import datetime
 |  >>> from pyspark.sql import Row
 |  >>> spark = SparkSession(sc)
 |  >>> allTypes = sc.parallelize([Row(i=1, s="string", d=1.0, l=1,
 |  ...     b=True, list=[1, 2, 3], dict={"s": 0}, row=Row(a=1),
 |  ...     time=datetime(2014, 8, 1, 14, 1, 5))])
 |  >>> df = allTypes.toDF()
 |  >>> df.createOrReplaceTempView("allTypes")
 |  >>> spark.sql('select i+1, d+1, not b, list[1], dict["s"], time, row.a '
 |  ...            'from allTypes where b and i > 0').collect()
 |  [Row((i + 1)=2, (d + 1)=2.0, (NOT b)=False, list[1]=2,         dict[s]=0, time=datetime.datetime(2014, 8, 1, 14, 1, 5), a=1)]
 |  >>> df.rdd.map(lambda x: (x.i, x.s, x.d, x.l, x.b, x.time, x.row.a, x.list)).collect()
 |  [(1, 'string', 1.0, 1, True, datetime.datetime(2014, 8, 1, 14, 1, 5), 1, [1, 2, 3])]
 |
 |  Method resolution order:
 |      SparkSession
 |      pyspark.sql.pandas.conversion.SparkConversionMixin
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __enter__(self) -> 'SparkSession'
 |      Enable 'with SparkSession.builder.(...).getOrCreate() as session: app' syntax.
 |
 |      .. versionadded:: 2.0
 |
 |  __exit__(self, exc_type: Optional[Type[BaseException]], exc_val: Optional[BaseException], exc_tb: Optional[traceback]) -> None
 |      Enable 'with SparkSession.builder.(...).getOrCreate() as session: app' syntax.
 |
 |      Specifically stop the SparkSession on exit of the with block.
 |
 |      .. versionadded:: 2.0
 |
 |  __init__(self, sparkContext: pyspark.context.SparkContext, jsparkSession: Optional[py4j.java_gateway.JavaObject] = None, options: Dict[str, Any] = {})
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  createDataFrame(self, data: Union[pyspark.rdd.RDD[Any], Iterable[Any], ForwardRef('PandasDataFrameLike'), ForwardRef('ArrayLike')], schema: Union[pyspark.sql.types.AtomicType, pyspark.sql.types.StructType, str, NoneType] = None, samplingRatio: Optional[float] = None, verifySchema: bool = True) -> pyspark.sql.dataframe.DataFrame
 |      Creates a :class:`DataFrame` from an :class:`RDD`, a list, a :class:`pandas.DataFrame`
 |      or a :class:`numpy.ndarray`.
 |
 |      When ``schema`` is a list of column names, the type of each column
 |      will be inferred from ``data``.
 |
 |      When ``schema`` is ``None``, it will try to infer the schema (column names and types)
 |      from ``data``, which should be an RDD of either :class:`Row`,
 |      :class:`namedtuple`, or :class:`dict`.
 |
 |      When ``schema`` is :class:`pyspark.sql.types.DataType` or a datatype string, it must match
 |      the real data, or an exception will be thrown at runtime. If the given schema is not
 |      :class:`pyspark.sql.types.StructType`, it will be wrapped into a
 |      :class:`pyspark.sql.types.StructType` as its only field, and the field name will be "value".
 |      Each record will also be wrapped into a tuple, which can be converted to row later.
 |
 |      If schema inference is needed, ``samplingRatio`` is used to determined the ratio of
 |      rows used for schema inference. The first row will be used if ``samplingRatio`` is ``None``.
 |
 |      .. versionadded:: 2.0.0
 |
 |      .. versionchanged:: 2.1.0
 |         Added verifySchema.
 |
 |      Parameters
 |      ----------
 |      data : :class:`RDD` or iterable
 |          an RDD of any kind of SQL data representation (:class:`Row`,
 |          :class:`tuple`, ``int``, ``boolean``, etc.), or :class:`list`,
 |          :class:`pandas.DataFrame` or :class:`numpy.ndarray`.
 |      schema : :class:`pyspark.sql.types.DataType`, str or list, optional
 |          a :class:`pyspark.sql.types.DataType` or a datatype string or a list of
 |          column names, default is None.  The data type string format equals to
 |          :class:`pyspark.sql.types.DataType.simpleString`, except that top level struct type can
 |          omit the ``struct<>``.
 |      samplingRatio : float, optional
 |          the sample ratio of rows used for inferring
 |      verifySchema : bool, optional
 |          verify data types of every row against schema. Enabled by default.
 |
 |      Returns
 |      -------
 |      :class:`DataFrame`
 |
 |      Notes
 |      -----
 |      Usage with spark.sql.execution.arrow.pyspark.enabled=True is experimental.
 |
 |      Examples
 |      --------
 |      >>> l = [('Alice', 1)]
 |      >>> spark.createDataFrame(l).collect()
 |      [Row(_1='Alice', _2=1)]
 |      >>> spark.createDataFrame(l, ['name', 'age']).collect()
 |      [Row(name='Alice', age=1)]
 |
 |      >>> d = [{'name': 'Alice', 'age': 1}]
 |      >>> spark.createDataFrame(d).collect()
 |      [Row(age=1, name='Alice')]
 |
 |      >>> rdd = sc.parallelize(l)
 |      >>> spark.createDataFrame(rdd).collect()
 |      [Row(_1='Alice', _2=1)]
 |      >>> df = spark.createDataFrame(rdd, ['name', 'age'])
 |      >>> df.collect()
 |      [Row(name='Alice', age=1)]
 |
 |      >>> from pyspark.sql import Row
 |      >>> Person = Row('name', 'age')
 |      >>> person = rdd.map(lambda r: Person(*r))
 |      >>> df2 = spark.createDataFrame(person)
 |      >>> df2.collect()
 |      [Row(name='Alice', age=1)]
 |
 |      >>> from pyspark.sql.types import *
 |      >>> schema = StructType([
 |      ...    StructField("name", StringType(), True),
 |      ...    StructField("age", IntegerType(), True)])
 |      >>> df3 = spark.createDataFrame(rdd, schema)
 |      >>> df3.collect()
 |      [Row(name='Alice', age=1)]
 |
 |      >>> spark.createDataFrame(df.toPandas()).collect()  # doctest: +SKIP
 |      [Row(name='Alice', age=1)]
 |      >>> spark.createDataFrame(pandas.DataFrame([[1, 2]])).collect()  # doctest: +SKIP
 |      [Row(0=1, 1=2)]
 |
 |      >>> spark.createDataFrame(rdd, "a: string, b: int").collect()
 |      [Row(a='Alice', b=1)]
 |      >>> rdd = rdd.map(lambda row: row[1])
 |      >>> spark.createDataFrame(rdd, "int").collect()
 |      [Row(value=1)]
 |      >>> spark.createDataFrame(rdd, "boolean").collect() # doctest: +IGNORE_EXCEPTION_DETAIL
 |      Traceback (most recent call last):
 |          ...
 |      Py4JJavaError: ...
 |
 |  newSession(self) -> 'SparkSession'
 |      Returns a new :class:`SparkSession` as new session, that has separate SQLConf,
 |      registered temporary views and UDFs, but shared :class:`SparkContext` and
 |      table cache.
 |
 |      .. versionadded:: 2.0
 |
 |  range(self, start: int, end: Optional[int] = None, step: int = 1, numPartitions: Optional[int] = None) -> pyspark.sql.dataframe.DataFrame
 |      Create a :class:`DataFrame` with single :class:`pyspark.sql.types.LongType` column named
 |      ``id``, containing elements in a range from ``start`` to ``end`` (exclusive) with
 |      step value ``step``.
 |
 |      .. versionadded:: 2.0.0
 |
 |      Parameters
 |      ----------
 |      start : int
 |          the start value
 |      end : int, optional
 |          the end value (exclusive)
 |      step : int, optional
 |          the incremental step (default: 1)
 |      numPartitions : int, optional
 |          the number of partitions of the DataFrame
 |
 |      Returns
 |      -------
 |      :class:`DataFrame`
 |
 |      Examples
 |      --------
 |      >>> spark.range(1, 7, 2).collect()
 |      [Row(id=1), Row(id=3), Row(id=5)]
 |
 |      If only one argument is specified, it will be used as the end value.
 |
 |      >>> spark.range(3).collect()
 |      [Row(id=0), Row(id=1), Row(id=2)]
 |
 |  sql(self, sqlQuery: str, **kwargs: Any) -> pyspark.sql.dataframe.DataFrame
 |      Returns a :class:`DataFrame` representing the result of the given query.
 |      When ``kwargs`` is specified, this method formats the given string by using the Python
 |      standard formatter.
 |
 |      .. versionadded:: 2.0.0
 |
 |      Parameters
 |      ----------
 |      sqlQuery : str
 |          SQL query string.
 |      kwargs : dict
 |          Other variables that the user wants to set that can be referenced in the query
 |
 |          .. versionchanged:: 3.3.0
 |             Added optional argument ``kwargs`` to specify the mapping of variables in the query.
 |             This feature is experimental and unstable.
 |
 |      Returns
 |      -------
 |      :class:`DataFrame`
 |
 |      Examples
 |      --------
 |      Executing a SQL query.
 |
 |      >>> spark.sql("SELECT * FROM range(10) where id > 7").show()
 |      +---+
 |      | id|
 |      +---+
 |      |  8|
 |      |  9|
 |      +---+
 |
 |      Executing a SQL query with variables as Python formatter standard.
 |
 |      >>> spark.sql(
 |      ...     "SELECT * FROM range(10) WHERE id > {bound1} AND id < {bound2}", bound1=7, bound2=9
 |      ... ).show()
 |      +---+
 |      | id|
 |      +---+
 |      |  8|
 |      +---+
 |
 |      >>> mydf = spark.range(10)
 |      >>> spark.sql(
 |      ...     "SELECT {col} FROM {mydf} WHERE id IN {x}",
 |      ...     col=mydf.id, mydf=mydf, x=tuple(range(4))).show()
 |      +---+
 |      | id|
 |      +---+
 |      |  0|
 |      |  1|
 |      |  2|
 |      |  3|
 |      +---+
 |
 |      >>> spark.sql('''
 |      ...   SELECT m1.a, m2.b
 |      ...   FROM {table1} m1 INNER JOIN {table2} m2
 |      ...   ON m1.key = m2.key
 |      ...   ORDER BY m1.a, m2.b''',
 |      ...   table1=spark.createDataFrame([(1, "a"), (2, "b")], ["a", "key"]),
 |      ...   table2=spark.createDataFrame([(3, "a"), (4, "b"), (5, "b")], ["b", "key"])).show()
 |      +---+---+
 |      |  a|  b|
 |      +---+---+
 |      |  1|  3|
 |      |  2|  4|
 |      |  2|  5|
 |      +---+---+
 |
 |      Also, it is possible to query using class:`Column` from :class:`DataFrame`.
 |
 |      >>> mydf = spark.createDataFrame([(1, 4), (2, 4), (3, 6)], ["A", "B"])
 |      >>> spark.sql("SELECT {df.A}, {df[B]} FROM {df}", df=mydf).show()
 |      +---+---+
 |      |  A|  B|
 |      +---+---+
 |      |  1|  4|
 |      |  2|  4|
 |      |  3|  6|
 |      +---+---+
 |
 |  stop(self) -> None
 |      Stop the underlying :class:`SparkContext`.
 |
 |      .. versionadded:: 2.0
 |
 |  table(self, tableName: str) -> pyspark.sql.dataframe.DataFrame
 |      Returns the specified table as a :class:`DataFrame`.
 |
 |      .. versionadded:: 2.0.0
 |
 |      Returns
 |      -------
 |      :class:`DataFrame`
 |
 |      Examples
 |      --------
 |      >>> df.createOrReplaceTempView("table1")
 |      >>> df2 = spark.table("table1")
 |      >>> sorted(df.collect()) == sorted(df2.collect())
 |      True
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  getActiveSession() -> Optional[ForwardRef('SparkSession')] from builtins.type
 |      Returns the active :class:`SparkSession` for the current thread, returned by the builder
 |
 |      .. versionadded:: 3.0.0
 |
 |      Returns
 |      -------
 |      :class:`SparkSession`
 |          Spark session if an active session exists for the current thread
 |
 |      Examples
 |      --------
 |      >>> s = SparkSession.getActiveSession()
 |      >>> l = [('Alice', 1)]
 |      >>> rdd = s.sparkContext.parallelize(l)
 |      >>> df = s.createDataFrame(rdd, ['name', 'age'])
 |      >>> df.select("age").collect()
 |      [Row(age=1)]
 |
 |  ----------------------------------------------------------------------
 |  Readonly properties defined here:
 |
 |  catalog
 |      Interface through which the user may create, drop, alter or query underlying
 |      databases, tables, functions, etc.
 |
 |      .. versionadded:: 2.0.0
 |
 |      Returns
 |      -------
 |      :class:`Catalog`
 |
 |  conf
 |      Runtime configuration interface for Spark.
 |
 |      This is the interface through which the user can get and set all Spark and Hadoop
 |      configurations that are relevant to Spark SQL. When getting the value of a config,
 |      this defaults to the value set in the underlying :class:`SparkContext`, if any.
 |
 |      Returns
 |      -------
 |      :class:`pyspark.sql.conf.RuntimeConfig`
 |
 |      .. versionadded:: 2.0
 |
 |  read
 |      Returns a :class:`DataFrameReader` that can be used to read data
 |      in as a :class:`DataFrame`.
 |
 |      .. versionadded:: 2.0.0
 |
 |      Returns
 |      -------
 |      :class:`DataFrameReader`
 |
 |  readStream
 |      Returns a :class:`DataStreamReader` that can be used to read data streams
 |      as a streaming :class:`DataFrame`.
 |
 |      .. versionadded:: 2.0.0
 |
 |      Notes
 |      -----
 |      This API is evolving.
 |
 |      Returns
 |      -------
 |      :class:`DataStreamReader`
 |
 |  sparkContext
 |      Returns the underlying :class:`SparkContext`.
 |
 |      .. versionadded:: 2.0
 |
 |  streams
 |      Returns a :class:`StreamingQueryManager` that allows managing all the
 |      :class:`StreamingQuery` instances active on `this` context.
 |
 |      .. versionadded:: 2.0.0
 |
 |      Notes
 |      -----
 |      This API is evolving.
 |
 |      Returns
 |      -------
 |      :class:`StreamingQueryManager`
 |
 |  udf
 |      Returns a :class:`UDFRegistration` for UDF registration.
 |
 |      .. versionadded:: 2.0.0
 |
 |      Returns
 |      -------
 |      :class:`UDFRegistration`
 |
 |  version
 |      The version of Spark on which this application is running.
 |
 |      .. versionadded:: 2.0
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  Builder = <class 'pyspark.sql.session.SparkSession.Builder'>
 |      Builder for :class:`SparkSession`.
 |
 |
 |  __annotations__ = {'_activeSession': typing.ClassVar[typing.Optional[F...
 |
 |  builder = <pyspark.sql.session.SparkSession.Builder object>
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from pyspark.sql.pandas.conversion.SparkConversionMixin:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

In [0]:
# ctrl + space ==> inteligence

read a file which is save on DBFS with multiple extension

In [0]:
df= spark.read.csv(path = 'dbfs:/user/hive/warehouse/DataFrame1.csv')
df.display()

_c0,_c1,_c2,_c3,_c4,_c5
20,rahul,2002,200,M,8000
60,rasul,2014,500,M,5000
30,ravi,2010,100,M,6000
10,raj,1999,100,M,2000
40,raja,2010,400,null,7000
50,rama,2008,400,null,1000

In [0]:
df= spark.read.csv('dbfs:/user/hive/warehouse/DataFrame1.csv',header=True,inferSchema=True)
df.display()
df.printSchema()

root
 |-- 20: integer (nullable = true)
 |-- rahul: string (nullable = true)
 |-- 2002: integer (nullable = true)
 |-- 200: integer (nullable = true)
 |-- M: string (nullable = true)
 |-- 8000: integer (nullable = true)

In [0]:
print(df)
# display(df)

DataFrame[20: int, rahul: string, 2002: int, 200: int, M: string, 8000: int]

In [0]:
df.show()

+---+-----+----+---+---+----+
| 20|rahul|2002|200|  M|8000|
+---+-----+----+---+---+----+
+---+-----+----+---+---+----+

In [0]:
df= spark.read.csv("dbfs:/user/hive/warehouse/DataFrame1.csv")
df.head(5)

Out[13]: [Row(_c0='20', _c1='rahul', _c2='2002', _c3='200', _c4='M', _c5='8000'),
 Row(_c0='60', _c1='rasul', _c2='2014', _c3='500', _c4='M', _c5='5000'),
 Row(_c0='30', _c1='ravi', _c2='2010', _c3='100', _c4='M', _c5='6000'),
 Row(_c0='10', _c1='raj', _c2='1999', _c3='100', _c4='M', _c5='2000'),
 Row(_c0='40', _c1='raja', _c2='2010', _c3='400', _c4=None, _c5='7000')]

In [0]:
df= spark.read.csv("dbfs:/user/hive/warehouse/DataFrame1.csv",inferSchema=True)
df.display()
df.printSchema()

_c0,_c1,_c2,_c3,_c4,_c5
20,rahul,2002,200,M,8000
60,rasul,2014,500,M,5000
30,ravi,2010,100,M,6000
10,raj,1999,100,M,2000
40,raja,2010,400,null,7000
50,rama,2008,400,null,1000

root
 |-- _c0: integer (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: integer (nullable = true)
 |-- _c3: integer (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: integer (nullable = true)

In [0]:
df= spark.read.format('parquet').load("dbfs:/user/hive/warehouse/df1")
df.display()

employee_id,name,doj,employee_dept_id,gender,salary
20,rahul,2002,200,M,8000
60,rasul,2014,500,M,5000
30,ravi,2010,100,M,6000
10,raj,1999,100,M,2000
40,raja,2010,400,null,7000
50,rama,2008,400,null,1000

In [0]:
df= spark.read.format('csv').option(key='header',value=True).load(path='dbfs:/user/hive/warehouse/DataFrame1.csv')
df.show()

+---+-----+----+---+---+----+
| 20|rahul|2002|200|  M|8000|
+---+-----+----+---+---+----+
+---+-----+----+---+---+----+

read multiple file at once with same schema

In [0]:
df= spark.read.csv(path=['dbfs:/user/hive/warehouse/DataFrame1.csv/part-00000-tid-5023340192568268437-efea0d2d-02aa-4125-8c61-c638be8af5e7-256-1-c000.csv','dbfs:/user/hive/warehouse/DataFrame1.csv/part-00001-tid-5023340192568268437-efea0d2d-02aa-4125-8c61-c638be8af5e7-257-1-c000.csv','dbfs:/user/hive/warehouse/DataFrame1.csv/part-00002-tid-5023340192568268437-efea0d2d-02aa-4125-8c61-c638be8af5e7-258-1-c000.csv','dbfs:/user/hive/warehouse/DataFrame1.csv/part-00003-tid-5023340192568268437-efea0d2d-02aa-4125-8c61-c638be8af5e7-259-1-c000.csv','dbfs:/user/hive/warehouse/DataFrame1.csv/part-00005-tid-5023340192568268437-efea0d2d-02aa-4125-8c61-c638be8af5e7-261-1-c000.csv'])

In [0]:
df.display()
df.printSchema()
# it show all the datatype of column is string

_c0,_c1,_c2,_c3,_c4,_c5
20,rahul,2002,200,M,8000
30,ravi,2010,100,M,6000
10,raj,1999,100,M,2000
40,raja,2010,400,null,7000

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)

In [0]:
df= spark.read.csv(path=['dbfs:/user/hive/warehouse/DataFrame1.csv/part-00000-tid-5023340192568268437-efea0d2d-02aa-4125-8c61-c638be8af5e7-256-1-c000.csv','dbfs:/user/hive/warehouse/DataFrame1.csv/part-00001-tid-5023340192568268437-efea0d2d-02aa-4125-8c61-c638be8af5e7-257-1-c000.csv','dbfs:/user/hive/warehouse/DataFrame1.csv/part-00002-tid-5023340192568268437-efea0d2d-02aa-4125-8c61-c638be8af5e7-258-1-c000.csv','dbfs:/user/hive/warehouse/DataFrame1.csv/part-00003-tid-5023340192568268437-efea0d2d-02aa-4125-8c61-c638be8af5e7-259-1-c000.csv','dbfs:/user/hive/warehouse/DataFrame1.csv/part-00005-tid-5023340192568268437-efea0d2d-02aa-4125-8c61-c638be8af5e7-261-1-c000.csv'],inferSchema=True)
df.display()
df.printSchema()
# now the datatype of each column is correct we can custom datatype with the help of StructType and StructField

_c0,_c1,_c2,_c3,_c4,_c5
20,rahul,2002,200,M,8000
30,ravi,2010,100,M,6000
10,raj,1999,100,M,2000
40,raja,2010,400,null,7000

root
 |-- _c0: integer (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: integer (nullable = true)
 |-- _c3: integer (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: integer (nullable = true)

use * to read all csv file at once

In [0]:
df= spark.read.csv('dbfs:/user/hive/warehouse/DataFrame1.csv/*.csv',inferSchema=True)
display(df)

_c0,_c1,_c2,_c3,_c4,_c5
_c0,_c1,_c2,_c3,_c4,_c5
20,rahul,2002-01-01,200,M,8000
_c0,_c1,_c2,_c3,_c4,_c5
60,rasul,2014-01-01,500,M,5000
_c0,_c1,_c2,_c3,_c4,_c5
20,rahul,2002-01-01,200,M,8000
_c0,_c1,_c2,_c3,_c4,_c5
60,rasul,2014-01-01,500,M,5000
_c0,_c1,_c2,_c3,_c4,_c5
30,ravi,2010-01-01,100,M,6000
_c0,_c1,_c2,_c3,_c4,_c5
30,ravi,2010-01-01,100,M,6000
_c0,_c1,_c2,_c3,_c4,_c5
10,raj,1999-01-01,100,M,2000
_c0,_c1,_c2,_c3,_c4,_c5
40,raja,2010-01-01,400,null,7000
_c0,_c1,_c2,_c3,_c4,_c5
50,rama,2008-01-01,400,null,1000
_c0,_c1,_c2,_c3,_c4,_c5
10,raj,1999-01-01,100,M,2000
_c0,_c1,_c2,_c3,_c4,_c5
40,raja,2010-01-01,400,null,7000
_c0,_c1,_c2,_c3,_c4,_c5
50,rama,2008-01-01,400,null,1000
20,rahul,2002,200,M,8000
60,rasul,2014,500,M,5000
30,ravi,2010,100,M,6000
10,raj,1999,100,M,2000
40,raja,2010,400,null,7000
50,rama,2008,400,null,1000

custom schema

In [0]:
from pyspark.sql.types import *
data = [(1,'umair'),(2,"pihu")]
schema = StructType().add(field='id',data_type=IntegerType())\
         .add(field='name',data_type=StringType())
df= spark.createDataFrame(data,schema)
df.display()

id,name
1,umair
2,pihu

In [0]:
from pyspark.sql.types import *
data = [{'id':1,'name':"umair"},{'id':2,'name':"pihu"},{"id":3,'name':"priyanka"}]
schema= StructType([StructField(name ='id',dataType=IntegerType()),StructField(name= 'name',dataType=StringType())])
df = spark.createDataFrame(data,schema)
df.display()
df.printSchema()

id,name
1,umair
2,pihu
3,priyanka

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)

In [0]:
from pyspark.sql.types import *
schema= StructType([StructField(name='_c0',dataType=IntegerType()),StructField(name='_c1',dataType=StringType()),\
                   StructField(name='_c2',dataType=DateType()),StructField(name='_c3',dataType=IntegerType()),\
                  StructField(name='_c4',dataType=StringType()),StructField(name="_c5",dataType=IntegerType())])
df= spark.read.csv('dbfs:/user/hive/warehouse/DataFrame1.csv/*.csv',schema=schema)
display(df)

_c0,_c1,_c2,_c3,_c4,_c5
null,_c1,null,null,_c4,null
20,rahul,2002-01-01,200,M,8000
null,_c1,null,null,_c4,null
60,rasul,2014-01-01,500,M,5000
null,_c1,null,null,_c4,null
20,rahul,2002-01-01,200,M,8000
null,_c1,null,null,_c4,null
60,rasul,2014-01-01,500,M,5000
null,_c1,null,null,_c4,null
30,ravi,2010-01-01,100,M,6000
null,_c1,null,null,_c4,null
30,ravi,2010-01-01,100,M,6000
null,_c1,null,null,_c4,null
10,raj,1999-01-01,100,M,2000
null,_c1,null,null,_c4,null
40,raja,2010-01-01,400,null,7000
null,_c1,null,null,_c4,null
50,rama,2008-01-01,400,null,1000
null,_c1,null,null,_c4,null
10,raj,1999-01-01,100,M,2000
null,_c1,null,null,_c4,null
40,raja,2010-01-01,400,null,7000
null,_c1,null,null,_c4,null
50,rama,2008-01-01,400,null,1000
20,rahul,2002-01-01,200,M,8000
60,rasul,2014-01-01,500,M,5000
30,ravi,2010-01-01,100,M,6000
10,raj,1999-01-01,100,M,2000
40,raja,2010-01-01,400,null,7000
50,rama,2008-01-01,400,null,1000

In [0]:
from pyspark.sql.types import *
schema = StructType().add(field="_c0",data_type=IntegerType())\
                          .add(field="_c1",data_type=StringType())\
                          .add(field="_c2",data_type=DateType())\
                          .add(field="_c3",data_type=IntegerType())\
                          .add(field="_c4",data_type=StringType())\
                          .add(field="_c5",data_type=IntegerType())
df=spark.read.format('csv').load("dbfs:/user/hive/warehouse/DataFrame1.csv/*.csv",schema=schema)
df.display()

_c0,_c1,_c2,_c3,_c4,_c5
null,_c1,null,null,_c4,null
20,rahul,2002-01-01,200,M,8000
null,_c1,null,null,_c4,null
60,rasul,2014-01-01,500,M,5000
null,_c1,null,null,_c4,null
20,rahul,2002-01-01,200,M,8000
null,_c1,null,null,_c4,null
60,rasul,2014-01-01,500,M,5000
null,_c1,null,null,_c4,null
30,ravi,2010-01-01,100,M,6000
null,_c1,null,null,_c4,null
30,ravi,2010-01-01,100,M,6000
null,_c1,null,null,_c4,null
10,raj,1999-01-01,100,M,2000
null,_c1,null,null,_c4,null
40,raja,2010-01-01,400,null,7000
null,_c1,null,null,_c4,null
50,rama,2008-01-01,400,null,1000
null,_c1,null,null,_c4,null
10,raj,1999-01-01,100,M,2000
null,_c1,null,null,_c4,null
40,raja,2010-01-01,400,null,7000
null,_c1,null,null,_c4,null
50,rama,2008-01-01,400,null,1000
20,rahul,2002-01-01,200,M,8000
60,rasul,2014-01-01,500,M,5000
30,ravi,2010-01-01,100,M,6000
10,raj,1999-01-01,100,M,2000
40,raja,2010-01-01,400,null,7000
50,rama,2008-01-01,400,null,1000

In [0]:
from pyspark.sql.types import *
schema = StructType().add(field="_c0",data_type=IntegerType())\
                    .add(field="_c1",data_type=StringType())\
                    .add(field="_c2",data_type=DateType())\
                    .add(field='_c3',data_type=IntegerType())\
                    .add(field="_c4",data_type=StringType())\
                    .add(field="_c5",data_type=IntegerType())
df= spark.read.load(path="dbfs:/user/hive/warehouse/DataFrame1.csv/*.csv",schema=schema,format='csv')

df.display()
df.printSchema()

_c0,_c1,_c2,_c3,_c4,_c5
null,_c1,null,null,_c4,null
20,rahul,2002-01-01,200,M,8000
null,_c1,null,null,_c4,null
60,rasul,2014-01-01,500,M,5000
null,_c1,null,null,_c4,null
20,rahul,2002-01-01,200,M,8000
null,_c1,null,null,_c4,null
60,rasul,2014-01-01,500,M,5000
null,_c1,null,null,_c4,null
30,ravi,2010-01-01,100,M,6000
null,_c1,null,null,_c4,null
30,ravi,2010-01-01,100,M,6000
null,_c1,null,null,_c4,null
10,raj,1999-01-01,100,M,2000
null,_c1,null,null,_c4,null
40,raja,2010-01-01,400,null,7000
null,_c1,null,null,_c4,null
50,rama,2008-01-01,400,null,1000
null,_c1,null,null,_c4,null
10,raj,1999-01-01,100,M,2000
null,_c1,null,null,_c4,null
40,raja,2010-01-01,400,null,7000
null,_c1,null,null,_c4,null
50,rama,2008-01-01,400,null,1000
20,rahul,2002-01-01,200,M,8000
60,rasul,2014-01-01,500,M,5000
30,ravi,2010-01-01,100,M,6000
10,raj,1999-01-01,100,M,2000
40,raja,2010-01-01,400,null,7000
50,rama,2008-01-01,400,null,1000

root
 |-- _c0: integer (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: date (nullable = true)
 |-- _c3: integer (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: integer (nullable = true)

In [0]:
from pyspark.sql import *
help(DataFrameWriter)

Help on class DataFrameWriter in module pyspark.sql.readwriter:

class DataFrameWriter(OptionUtils)
 |  DataFrameWriter(df: 'DataFrame')
 |
 |  Interface used to write a :class:`DataFrame` to external storage systems
 |  (e.g. file systems, key-value stores, etc). Use :attr:`DataFrame.write`
 |  to access this.
 |
 |  .. versionadded:: 1.4
 |
 |  Method resolution order:
 |      DataFrameWriter
 |      OptionUtils
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, df: 'DataFrame')
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  bucketBy(self, numBuckets: int, col: Union[str, List[str], Tuple[str, ...]], *cols: Optional[str]) -> 'DataFrameWriter'
 |      Buckets the output by the given columns. If specified,
 |      the output is laid out on the file system similar to Hive's bucketing scheme,
 |      but with a different bucket hash function and is not compatible with Hive's bucketing.
 |
 |      .. versionadded:: 2.3.0
 |
 |      Parameters
 |      ----------
 |      numBuckets : int
 |          the number of buckets to save
 |      col : str, list or tuple
 |          a name of a column, or a list of names.
 |      cols : str
 |          additional names (optional). If `col` is a list it should be empty.
 |
 |      Notes
 |      -----
 |      Applicable for file-based data sources in combination with
 |      :py:meth:`DataFrameWriter.saveAsTable`.
 |
 |      Examples
 |      --------
 |      >>> (df.write.format('parquet')  # doctest: +SKIP
 |      ...     .bucketBy(100, 'year', 'month')
 |      ...     .mode("overwrite")
 |      ...     .saveAsTable('bucketed_table'))
 |
 |  csv(self, path: str, mode: Optional[str] = None, compression: Optional[str] = None, sep: Optional[str] = None, quote: Optional[str] = None, escape: Optional[str] = None, header: Union[bool, str, NoneType] = None, nullValue: Optional[str] = None, escapeQuotes: Union[bool, str, NoneType] = None, quoteAll: Union[bool, str, NoneType] = None, dateFormat: Optional[str] = None, timestampFormat: Optional[str] = None, ignoreLeadingWhiteSpace: Union[bool, str, NoneType] = None, ignoreTrailingWhiteSpace: Union[bool, str, NoneType] = None, charToEscapeQuoteEscaping: Optional[str] = None, encoding: Optional[str] = None, emptyValue: Optional[str] = None, lineSep: Optional[str] = None) -> None
 |      Saves the content of the :class:`DataFrame` in CSV format at the specified path.
 |
 |      .. versionadded:: 2.0.0
 |
 |      Parameters
 |      ----------
 |      path : str
 |          the path in any Hadoop supported file system
 |      mode : str, optional
 |          specifies the behavior of the save operation when data already exists.
 |
 |          * ``append``: Append contents of this :class:`DataFrame` to existing data.
 |          * ``overwrite``: Overwrite existing data.
 |          * ``ignore``: Silently ignore this operation if data already exists.
 |          * ``error`` or ``errorifexists`` (default case): Throw an exception if data already \
 |              exists.
 |
 |      Other Parameters
 |      ----------------
 |      Extra options
 |          For the extra options, refer to
 |          `Data Source Option <https://spark.apache.org/docs/latest/sql-data-sources-csv.html#data-source-option>`_
 |          in the version you use.
 |
 |          .. # noqa
 |
 |      Examples
 |      --------
 |      >>> df.write.csv(os.path.join(tempfile.mkdtemp(), 'data'))
 |
 |  format(self, source: str) -> 'DataFrameWriter'
 |      Specifies the underlying output data source.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      source : str
 |          string, name of the data source, e.g. 'json', 'parquet'.
 |
 |      Examples
 |      --------
 |      >>> df.write.format('json').save(os.path.join(tempfile.mkdtemp(), 'data'))
 |
 |  insertInto(self, tableName: str, overwrite: Optional[bool] = None) -> None
 |      Inserts the content of the :class:`DataFrame` to the specified table.
 |
 |      It requires that the schema of the :class:`DataFrame` is the same as the
 |      schema of the table.
 |
 |      Parameters
 |      ----------
 |      overwrite : bool, optional
 |          If true, overwrites existing data. Disabled by default
 |
 |      Notes
 |      -----
 |      Unlike :meth:`DataFrameWriter.saveAsTable`, :meth:`DataFrameWriter.insertInto` ignores
 |      the column names and just uses position-based resolution.
 |
 |      .. versionadded:: 1.4
 |
 |  jdbc(self, url: str, table: str, mode: Optional[str] = None, properties: Optional[Dict[str, str]] = None) -> None
 |      Saves the content of the :class:`DataFrame` to an external database table via JDBC.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      table : str
 |          Name of the table in the external database.
 |      mode : str, optional
 |          specifies the behavior of the save operation when data already exists.
 |
 |          * ``append``: Append contents of this :class:`DataFrame` to existing data.
 |          * ``overwrite``: Overwrite existing data.
 |          * ``ignore``: Silently ignore this operation if data already exists.
 |          * ``error`` or ``errorifexists`` (default case): Throw an exception if data already                 exists.
 |      properties : dict
 |          a dictionary of JDBC database connection arguments. Normally at
 |          least properties "user" and "password" with their corresponding values.
 |          For example { 'user' : 'SYSTEM', 'password' : 'mypassword' }
 |
 |      Other Parameters
 |      ----------------
 |      Extra options
 |          For the extra options, refer to
 |          `Data Source Option <https://spark.apache.org/docs/latest/sql-data-sources-jdbc.html#data-source-option>`_
 |          in the version you use.
 |
 |          .. # noqa
 |
 |      Notes
 |      -----
 |      Don't create too many partitions in parallel on a large cluster;
 |      otherwise Spark might crash your external database systems.
 |
 |  json(self, path: str, mode: Optional[str] = None, compression: Optional[str] = None, dateFormat: Optional[str] = None, timestampFormat: Optional[str] = None, lineSep: Optional[str] = None, encoding: Optional[str] = None, ignoreNullFields: Union[bool, str, NoneType] = None) -> None
 |      Saves the content of the :class:`DataFrame` in JSON format
 |      (`JSON Lines text format or newline-delimited JSON <http://jsonlines.org/>`_) at the
 |      specified path.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      path : str
 |          the path in any Hadoop supported file system
 |      mode : str, optional
 |          specifies the behavior of the save operation when data already exists.
 |
 |          * ``append``: Append contents of this :class:`DataFrame` to existing data.
 |          * ``overwrite``: Overwrite existing data.
 |          * ``ignore``: Silently ignore this operation if data already exists.
 |          * ``error`` or ``errorifexists`` (default case): Throw an exception if data already                 exists.
 |
 |      Other Parameters
 |      ----------------
 |      Extra options
 |          For the extra options, refer to
 |          `Data Source Option <https://spark.apache.org/docs/latest/sql-data-sources-json.html#data-source-option>`_
 |          in the version you use.
 |
 |          .. # noqa
 |
 |      Examples
 |      --------
 |      >>> df.write.json(os.path.join(tempfile.mkdtemp(), 'data'))
 |
 |  mode(self, saveMode: Optional[str]) -> 'DataFrameWriter'
 |      Specifies the behavior when data or table already exists.
 |
 |      Options include:
 |
 |      * `append`: Append contents of this :class:`DataFrame` to existing data.
 |      * `overwrite`: Overwrite existing data.
 |      * `error` or `errorifexists`: Throw an exception if data already exists.
 |      * `ignore`: Silently ignore this operation if data already exists.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Examples
 |      --------
 |      >>> df.write.mode('append').parquet(os.path.join(tempfile.mkdtemp(), 'data'))
 |
 |  option(self, key: str, value: 'OptionalPrimitiveType') -> 'DataFrameWriter'
 |      Adds an output option for the underlying data source.
 |
 |      .. versionadded:: 1.5
 |
 |  options(self, **options: 'OptionalPrimitiveType') -> 'DataFrameWriter'
 |      Adds output options for the underlying data source.
 |
 |      .. versionadded:: 1.4
 |
 |  orc(self, path: str, mode: Optional[str] = None, partitionBy: Union[str, List[str], NoneType] = None, compression: Optional[str] = None) -> None
 |      Saves the content of the :class:`DataFrame` in ORC format at the specified path.
 |
 |      .. versionadded:: 1.5.0
 |
 |      Parameters
 |      ----------
 |      path : str
 |          the path in any Hadoop supported file system
 |      mode : str, optional
 |          specifies the behavior of the save operation when data already exists.
 |
 |          * ``append``: Append contents of this :class:`DataFrame` to existing data.
 |          * ``overwrite``: Overwrite existing data.
 |          * ``ignore``: Silently ignore this operation if data already exists.
 |          * ``error`` or ``errorifexists`` (default case): Throw an exception if data already                 exists.
 |      partitionBy : str or list, optional
 |          names of partitioning columns
 |
 |      Other Parameters
 |      ----------------
 |      Extra options
 |          For the extra options, refer to
 |          `Data Source Option <https://spark.apache.org/docs/latest/sql-data-sources-orc.html#data-source-option>`_
 |          in the version you use.
 |
 |          .. # noqa
 |
 |      Examples
 |      --------
 |      >>> orc_df = spark.read.orc('python/test_support/sql/orc_partitioned')
 |      >>> orc_df.write.orc(os.path.join(tempfile.mkdtemp(), 'data'))
 |
 |  parquet(self, path: str, mode: Optional[str] = None, partitionBy: Union[str, List[str], NoneType] = None, compression: Optional[str] = None) -> None
 |      Saves the content of the :class:`DataFrame` in Parquet format at the specified path.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      path : str
 |          the path in any Hadoop supported file system
 |      mode : str, optional
 |          specifies the behavior of the save operation when data already exists.
 |
 |          * ``append``: Append contents of this :class:`DataFrame` to existing data.
 |          * ``overwrite``: Overwrite existing data.
 |          * ``ignore``: Silently ignore this operation if data already exists.
 |          * ``error`` or ``errorifexists`` (default case): Throw an exception if data already                 exists.
 |      partitionBy : str or list, optional
 |          names of partitioning columns
 |
 |      Other Parameters
 |      ----------------
 |      Extra options
 |          For the extra options, refer to
 |          `Data Source Option <https://spark.apache.org/docs/latest/sql-data-sources-parquet.html#data-source-option>`_
 |          in the version you use.
 |
 |          .. # noqa
 |
 |      Examples
 |      --------
 |      >>> df.write.parquet(os.path.join(tempfile.mkdtemp(), 'data'))
 |
 |  partitionBy(self, *cols: Union[str, List[str]]) -> 'DataFrameWriter'
 |      Partitions the output by the given columns on the file system.
 |
 |      If specified, the output is laid out on the file system similar
 |      to Hive's partitioning scheme.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      cols : str or list
 |          name of columns
 |
 |      Examples
 |      --------
 |      >>> df.write.partitionBy('year', 'month').parquet(os.path.join(tempfile.mkdtemp(), 'data'))
 |
 |  save(self, path: Optional[str] = None, format: Optional[str] = None, mode: Optional[str] = None, partitionBy: Union[str, List[str], NoneType] = None, **options: 'OptionalPrimitiveType') -> None
 |      Saves the contents of the :class:`DataFrame` to a data source.
 |
 |      The data source is specified by the ``format`` and a set of ``options``.
 |      If ``format`` is not specified, the default data source configured by
 |      ``spark.sql.sources.default`` will be used.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      path : str, optional
 |          the path in a Hadoop supported file system
 |      format : str, optional
 |          the format used to save
 |      mode : str, optional
 |          specifies the behavior of the save operation when data already exists.
 |
 |          * ``append``: Append contents of this :class:`DataFrame` to existing data.
 |          * ``overwrite``: Overwrite existing data.
 |          * ``ignore``: Silently ignore this operation if data already exists.
 |          * ``error`` or ``errorifexists`` (default case): Throw an exception if data already                 exists.
 |      partitionBy : list, optional
 |          names of partitioning columns
 |      **options : dict
 |          all other string options
 |
 |      Examples
 |      --------
 |      >>> df.write.mode("append").save(os.path.join(tempfile.mkdtemp(), 'data'))
 |
 |  saveAsTable(self, name: str, format: Optional[str] = None, mode: Optional[str] = None, partitionBy: Union[str, List[str], NoneType] = None, **options: 'OptionalPrimitiveType') -> None
 |      Saves the content of the :class:`DataFrame` as the specified table.
 |
 |      In the case the table already exists, behavior of this function depends on the
 |      save mode, specified by the `mode` function (default to throwing an exception).
 |      When `mode` is `Overwrite`, the schema of the :class:`DataFrame` does not need to be
 |      the same as that of the existing table.
 |
 |      * `append`: Append contents of this :class:`DataFrame` to existing data.
 |      * `overwrite`: Overwrite existing data.
 |      * `error` or `errorifexists`: Throw an exception if data already exists.
 |      * `ignore`: Silently ignore this operation if data already exists.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Notes
 |      -----
 |      When `mode` is `Append`, if there is an existing table, we will use the format and
 |      options of the existing table. The column order in the schema of the :class:`DataFrame`
 |      doesn't need to be same as that of the existing table. Unlike
 |      :meth:`DataFrameWriter.insertInto`, :meth:`DataFrameWriter.saveAsTable` will use the
 |      column names to find the correct column positions.
 |
 |      Parameters
 |      ----------
 |      name : str
 |          the table name
 |      format : str, optional
 |          the format used to save
 |      mode : str, optional
 |          one of `append`, `overwrite`, `error`, `errorifexists`, `ignore`             (default: error)
 |      partitionBy : str or list
 |          names of partitioning columns
 |      **options : dict
 |          all other string options
 |
 |  sortBy(self, col: Union[str, List[str], Tuple[str, ...]], *cols: Optional[str]) -> 'DataFrameWriter'
 |      Sorts the output in each bucket by the given columns on the file system.
 |
 |      .. versionadded:: 2.3.0
 |
 |      Parameters
 |      ----------
 |      col : str, tuple or list
 |          a name of a column, or a list of names.
 |      cols : str
 |          additional names (optional). If `col` is a list it should be empty.
 |
 |      Examples
 |      --------
 |      >>> (df.write.format('parquet')  # doctest: +SKIP
 |      ...     .bucketBy(100, 'year', 'month')
 |      ...     .sortBy('day')
 |      ...     .mode("overwrite")
 |      ...     .saveAsTable('sorted_bucketed_table'))
 |
 |  text(self, path: str, compression: Optional[str] = None, lineSep: Optional[str] = None) -> None
 |      Saves the content of the DataFrame in a text file at the specified path.
 |      The text files will be encoded as UTF-8.
 |
 |      .. versionadded:: 1.6.0
 |
 |      Parameters
 |      ----------
 |      path : str
 |          the path in any Hadoop supported file system
 |
 |      Other Parameters
 |      ----------------
 |      Extra options
 |          For the extra options, refer to
 |          `Data Source Option <https://spark.apache.org/docs/latest/sql-data-sources-text.html#data-source-option>`_
 |          in the version you use.
 |
 |          .. # noqa
 |
 |      The DataFrame must have only one column that is of string type.
 |      Each row becomes a new line in the output file.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from OptionUtils:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

write df on DBFS

In [0]:
# 1
from pyspark.sql import DataFrameWriter
df.write.option('header',True).csv(path='dbfs:/user/hive/warehouse/DataFrame1.csv/option.csv')

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
<command-2684074137462186> in <cell line: 3>()
      1 # 1
      2 from pyspark.sql import DataFrameWriter
----> 3 df.write.option('header',True).csv(path='dbfs:/user/hive/warehouse/DataFrame1.csv/option.csv')

/databricks/spark/python/pyspark/instrumentation_utils.py in wrapper(*args, **kwargs)
     46             start = time.perf_counter()
     47             try:
---> 48                 res = func(*args, **kwargs)
     49                 logger.log_success(
     50                     module_name, class_name, function_name, time.perf_counter() - start, signature

/databricks/spark/python/pyspark/sql/readwriter.py in csv(self, path, mode, compression, sep, quote, escape, header, nullValue, escapeQuotes, quoteAll, dateFormat, timestampFormat, ignoreLeadingWhiteSpace, ignoreTrailingWhiteSpace, charToEscapeQuoteEscaping, encoding, emptyValue, lineSep)
   1238             lineSep=lineSep,
   1239         )
-> 1240         self._jwrite.csv(path)
   1241
   1242     def orc(

/databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py in __call__(self, *args)
   1319
   1320         answer = self.gateway_client.send_command(command)
-> 1321         return_value = get_return_value(
   1322             answer, self.gateway_client, self.target_id, self.name)
   1323

/databricks/spark/python/pyspark/sql/utils.py in deco(*a, **kw)
    200                 # Hide where the exception came from that shows a non-Pythonic
    201                 # JVM exception message.
--> 202                 raise converted from None
    203             else:
    204                 raise

AnalysisException: path dbfs:/user/hive/warehouse/DataFrame1.csv/option.csv already exists.

In [0]:
# 2
df.write.options(header='True',delimator=',').csv('dbfs:/user/hive/warehouse/DataFrame2.csv/options.csv')

In [0]:
# 3
df.write.csv(path='dbfs:/user/hive/warehouse/DataFrame3.csv/write_csv.csv',header=True)

In [0]:
# 4
df.write.csv(path='dbfs:/user/hive/warehouse/DataFrame4.csv/write_csv_mode.csv',header=True,mode='overwrite')

# option of mode
# append: Append contents of this :class:`DataFrame` to existing data.
# overwrite: Overwrite existing data.
# ignore: Silently ignore this operation if data already exists.
# error or errorifexists (default case): Throw an exception if data already \ exists.

In [0]:
help(df.write.csv)

In [0]:
df.write.mode('overwrite').csv('dbfs:/user/hive/warehouse/DataFrame4.csv/write_csv_mode.csv')

In [0]:
df.write.format('csv').mode('overwrite').save('dbfs:/user/hive/warehouse/DataFrame4.csv/write_csv_mode.csv')

In [0]:
# df=spark.read('org.apache.spark.sql.Json').load('dbfs:/user/hive/warehouse/DataFrame4.csv/write_csv_mode.csv')

In [0]:
# for json file if line is having multiline
df=spark.read.json('dbfs:/FileStore/sample_json_file.json',multiLine=True)
df.show()

In [0]:
# read multiple file at once which is having same schema
df=spark.read.json(path=['dbfs:/FileStore/sample_json_file.json','dbfs:/FileStore/sample_json_file-1.json'],multiLine=True)
df.display()

In [0]:
df=spark.read.json('dbfs:/FileStore/*.json',multiLine=True)
df.display()

write DataFrame Into JSON

In [0]:
df.write.json(path='dbfs:/user/hive/warehouse/DataFrame4.json/write_json.json')

In [0]:
df.write.parquet(path='dbfs:/user/hive/warehouse/DataFrame4.parquet/write_parqute.parquet')

In [0]:
df=spark.read.format('parquet').load('dbfs:/user/hive/warehouse/DataFrame4.parquet/write_parqute.parquet')
df.display()

how to read excel file using pyspark

In [0]:
df = spark.read.format("com.crealytics.spark.excel")\
     .option("dataAddress", "'Sheet1'!")\
     .option("header", "true")\
     .option("inferSchema", "true")\
     .load("dbfs:/FileStore/Book1.xlsx")
df.display()

In [0]:
# import com.crealytics.spark.excel
df = spark.read.format('com.crealytics.spark.excel').option('header',True).option('inferSchema',True).load('dbfs:/FileStore/Book1.xlsx')
df.show(2)

show function

In [0]:
help(df.show)

In [0]:
data=[("mohammad umair mohammad FArooque",25,"81K","fair",5.6),("jafar khan sarfaraz khan",26,"20k","dark",5.6)]
schema=["name","age","salary","color","height"]
df= spark.createDataFrame(data,schema)
df.show()
# only 20 charactor by default in each cell

In [0]:
df.show(n=1)
# n= no of row to show

In [0]:
df.show(truncate=False)
# it go beyond there limit and show full characture in each cell

In [0]:
df.show(truncate=10)
# it show maximum 10 characture at max

how to change the datatype of column in dataframe 
withColumn

In [0]:
df.show()
df.printSchema()
# we need to change age datatype from long to integerTyoe

In [0]:
from pyspark.sql.functions import col
df = df.withColumn(colName='age',col=col('age').cast('Integer'))
df.printSchema()

In [0]:
df.withColumn('new_age', df.age + 2).show()
# df.show()
# help(df.withColumn)
# df.withColumn(nem_col_name, expression).show()

In [0]:
from pyspark.sql.functions import col, lit

In [0]:
# create new column with expression 
data=[('umair',90000,"khamgaon"),('jafar',85000,'pune')]
schema=['name','salary','city']
df= spark.createDataFrame(data,schema)
df.show()
df.withColumn('updated_salary',col("salary")*1.2).show()
# df.show()

In [0]:
# create new column with custom value
data=[('umair',90000,"khamgaon"),('jafar',85000,'pune')]
schema=['name','salary','city']
df= spark.createDataFrame(data,schema)
df.show()
df.withColumn('qaulification',lit("engg")).show()

rename of columns

In [0]:
df.display()
df = df.withColumnRenamed("salary","salary_in_usd")
df.display()

example of complex columns

In [0]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType
data =[(1,('Umair','Memon'),25,45000),(2,('Zeeshan','Shaik'),27,56000)]
structname=StructType([StructField(name="First_name",dataType=StringType()),\
                      StructField(name="Last_name",dataType=StringType())])
schema = StructType([StructField(name="Sr.no",dataType=IntegerType()),\
                    StructField(name="Name",dataType=structname),\
                    StructField(name="Age",dataType=IntegerType()),\
                    StructField(name="Salary",dataType=IntegerType())])
df=spark.createDataFrame(data,schema)

df.show()
df.printSchema()

In [0]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, ArrayType
data =[(1,('Umair','Memon'),25,45000),(2,('Zeeshan','Shaik'),27,56000)]
schema = StructType([StructField("Sr.no",IntegerType()),\
                    StructField('Name',ArrayType(StringType())),\
                    StructField("Age",IntegerType()),\
                    StructField('Salary',IntegerType())])
df=spark.createDataFrame(data,schema)
df.display()
df.printSchema()

Create new column from array column

In [0]:
df.show()
df = df.withColumn("first_name",df.Name[0])
df = df.withColumn("last_name",df.Name[1])
df.display()

Create Array column from exiting column

In [0]:
from pyspark.sql.functions import col, array
# array and ArrayType both are different
data=[(1,2),(3,4)]
schema=['num1','num2']
df= spark.createDataFrame(data,schema)
df.show()

In [0]:
df=df.withColumn('numbers',array(col("num1"),col("num2")))
df.show()

common fuction used with array
explode(), Split(), array(), array_contain()

In [0]:
# Split()
# it is use to make array of common sep value 

from pyspark.sql.functions import split
# 1
print('row data form')
data = [(1,'umair',"ml,nlp"),(1,'zeeshan',"dl,ml")]
schema=['sr','name','skill']
df= spark.createDataFrame(data,schema)
df.show()
# 2
print('in control')
df= df.withColumn('skillarray',split(col("skill"),','))
df.show()
# 3
print("final result")
df=df.withColumn('primary_skill',df.skillarray[0])
df=df.withColumn('secondary_skill',df.skillarray[1])
df.show()

In [0]:
# Array_contains()
print('''it is a sql function is used to check if array column contain a value , return null if the array is null true if the array contain the value and false otherwise''')

In [0]:
#  it only work on array type column

from pyspark.sql.functions import array_contains
df.withColumn("has_ml",array_contains(col('skillarray'),'ml')).show()

In [0]:
# split()
print('''it is a sql function return an array type after splitting the string column by delimiter''')

In [0]:
#explode()
print('''use explode function to create a new row for each element in the given array column''')

# array()
print('''use array function to create anew arrey column by merging the data from multiple columns''')

MapType()

In [0]:
# MapType() ==>dictionary
print('''pyspark MapType is used to represent map key-value pair similar to python dictionary''')

In [0]:
from pyspark.sql.types import StructType, StructField, MapType

data=[('umair',{"hair":"black",'eye':'brown'}),('zeeshan',{"hair":"long","eye":"black"})]
schema=StructType([StructField("name",StringType()),StructField("characturestics",MapType(StringType(),StringType()))])
df=spark.createDataFrame(data,schema)
df.display()
df.printSchema()

In [0]:
# we can create new column for each property of MapType
df=df.withColumn('hair',df.characturestics['hair'])
df.show(truncate=False)

In [0]:
df=df.withColumn('eye',df.characturestics['eye'])
df.show()

In [0]:
# we can also use it
df=df.withColumn('eye_color',df.characturestics.getField('eye'))
df.show()

In [0]:
df=df.withColumn('hair_color',df.characturestics.getItem('hair'))
df.show()

In [0]:
# function of MapType  
# explode()
# map_keys()
# map_values()

In [0]:
# example
from pyspark.sql.functions import explode, map_keys, map_values
df1=df.select('name',explode(df.characturestics))
df1.show(truncate=False)

In [0]:
df1=df.select('name',explode('characturestics').alias('part','color'))
df1.display()

In [0]:
df1=df.select(explode('characturestics').alias('part','color'))
df1.display()

In [0]:
df1=df.withColumn('keys',map_keys(df.characturestics))
df1.show()

In [0]:
df1= df1.withColumn("values",map_values(df.characturestics))
df1.show()

Row()

In [0]:
print('''pyspark.sql.Row which is represented as a record row in dataframe one can create row object by using named argument or create a custom row like class''')

In [0]:
from pyspark.sql import Row
row= Row('umair','pihu')
print(row[1]+' is the gf of '+row[0])

In [0]:
# using name arrguments
row= Row(name='umair',salary="80000")
print(row.name+' has the salary '+row.salary)

In [0]:
row1= Row(name='pihu',salary='120000')
row2= Row(name='umair',salary="80000")
data=(row1,row2)
df=spark.createDataFrame(data)
df.display()

In [0]:
person=Row('name','age')
person1=person('Umair',25)
person2=person('Pihu',26)

print(person1.name)
print(person2.name)

data=[person1,person2]
df=spark.createDataFrame(data,person)
df.show()

we can create neasted Structtype also using Row()

In [0]:
data=[Row(name='umair',prop=Row(hair='Black',eye='Black')),\
     Row(name='zeeshan',prop=Row(hair='brown',eye='black'))]
df=spark.createDataFrame(data)
df.display()
df.printSchema()

Column

In [0]:
print('pyspark column class represent a single column in a data frame')
print()
print('pyspark.sql.column class provides several functions to work with dataframe to manipulate the column values evalute the boolean expression to fillter row(), retrive a value or part of a value from a data frame column')
print()
print('one of the simpliest way to create column class object is by using pyspark lit() sql function')

pyspark column class represent a single column in a data frame

pyspark.sql.column class provides several functions to work with dataframe to manipulate the column values evalute the boolean expression to fillter row(), retrive a value or part of a value from a data frame column

one of the simpliest way to create column class object is by using pyspark lit() sql function

In [0]:
from pyspark.sql.functions import lit
col1= lit('abcd')
print(type(col1))

<class 'pyspark.sql.column.Column'>

In [0]:
print("""you can access column multiple ways from DataFrame""")

In [0]:
data=[('umair','male',25),('zeeshan','male',27)]
schema=['name','gender','age']
df=spark.createDataFrame(data,schema)

from pyspark.sql.functions import col
df.select(df.gender).show()
df.select(col('gender')).show()
df.select(df['gender']).show()

+------+
|gender|
+------+
|  male|
|  male|
+------+

+------+
|gender|
+------+
|  male|
|  male|
+------+

+------+
|gender|
+------+
|  male|
|  male|
+------+

In [0]:
# Accessing Struct column 
from pyspark.sql import Row
from pyspark.sql.types import *
data=[('umair','male',('Black','Black')),\
     ('zeeshan','male',('brown','black'))]
Structname=StructType([StructField('hair',StringType()),\
                      StructField('eye',StringType())])

schema=StructType([StructField('name',StringType()),\
                  StructField('gender',StringType()),\
                  StructField('prop',Structname)])
df=spark.createDataFrame(data,schema)
df.select(df.prop.eye).show()
df.select(df.prop.hair).show()

+--------+
|prop.eye|
+--------+
|   Black|
|   black|
+--------+

+---------+
|prop.hair|
+---------+
|    Black|
|    brown|
+---------+

In [0]:

data = [
        (("James",None,"Smith"),"OH","M"),
        (("Anna","Rose",""),"NY","F"),
        (("Julia","","Williams"),"OH","F"),
        (("Maria","Anne","Jones"),"NY","M"),
        (("Jen","Mary","Brown"),"NY","M"),
        (("Mike","Mary","Williams"),"OH","M")
        ]

from pyspark.sql.types import StructType,StructField, StringType        
schema = StructType([
    StructField('name', StructType([
         StructField('firstname', StringType(), True),
         StructField('middlename', StringType(), True),
         StructField('lastname', StringType(), True)
         ])),
     StructField('state', StringType(), True),
     StructField('gender', StringType(), True)
     ])
df2 = spark.createDataFrame(data = data, schema = schema)
df2.printSchema()
df2.show(truncate=False) # shows all columns

root
 |-- name: struct (nullable = true)
 |    |-- firstname: string (nullable = true)
 |    |-- middlename: string (nullable = true)
 |    |-- lastname: string (nullable = true)
 |-- state: string (nullable = true)
 |-- gender: string (nullable = true)

+----------------------+-----+------+
|name                  |state|gender|
+----------------------+-----+------+
|{James, null, Smith}  |OH   |M     |
|{Anna, Rose, }        |NY   |F     |
|{Julia, , Williams}   |OH   |F     |
|{Maria, Anne, Jones}  |NY   |M     |
|{Jen, Mary, Brown}    |NY   |M     |
|{Mike, Mary, Williams}|OH   |M     |
+----------------------+-----+------+

In [0]:
df2.select("name").show(truncate=False)

+----------------------+
|name                  |
+----------------------+
|{James, null, Smith}  |
|{Anna, Rose, }        |
|{Julia, , Williams}   |
|{Maria, Anne, Jones}  |
|{Jen, Mary, Brown}    |
|{Mike, Mary, Williams}|
+----------------------+

In [0]:
df2.select("name.firstname","name.lastname").show(truncate=False)

+---------+--------+
|firstname|lastname|
+---------+--------+
|James    |Smith   |
|Anna     |        |
|Julia    |Williams|
|Maria    |Jones   |
|Jen      |Brown   |
|Mike     |Williams|
+---------+--------+

In [0]:
df2.select(df2.name.firstname).show()

+--------------+
|name.firstname|
+--------------+
|         James|
|          Anna|
|         Julia|
|         Maria|
|           Jen|
|          Mike|
+--------------+

In [0]:
df2.select(df2.name.firstname,df2.name.lastname).show()

+--------------+-------------+
|name.firstname|name.lastname|
+--------------+-------------+
|         James|        Smith|
|          Anna|             |
|         Julia|     Williams|
|         Maria|        Jones|
|           Jen|        Brown|
|          Mike|     Williams|
+--------------+-------------+

In [0]:
df2.select(col('name.firstname')).show()

+---------+
|firstname|
+---------+
|    James|
|     Anna|
|    Julia|
|    Maria|
|      Jen|
|     Mike|
+---------+

In [0]:
df2.select(df2['name']).show()

+--------------------+
|                name|
+--------------------+
|{James, null, Smith}|
|      {Anna, Rose, }|
| {Julia, , Williams}|
|{Maria, Anne, Jones}|
|  {Jen, Mary, Brown}|
|{Mike, Mary, Will...|
+--------------------+

In [0]:
df2.select(df2['name.firstname']).show()

+---------+
|firstname|
+---------+
|    James|
|     Anna|
|    Julia|
|    Maria|
|      Jen|
|     Mike|
+---------+

In [0]:
df2.select("name.*").show(truncate=False)

+---------+----------+--------+
|firstname|middlename|lastname|
+---------+----------+--------+
|James    |null      |Smith   |
|Anna     |Rose      |        |
|Julia    |          |Williams|
|Maria    |Anne      |Jones   |
|Jen      |Mary      |Brown   |
|Mike     |Mary      |Williams|
+---------+----------+--------+

In [0]:
print('with lit we can create new column with custom value')

with lit we can create new column with custom value

In [0]:
df1=df2.withColumn('country',lit('USA'))
df1.display()

name,state,gender,country
"List(James, null, Smith)",OH,M,USA
"List(Anna, Rose, )",NY,F,USA
"List(Julia, , Williams)",OH,F,USA
"List(Maria, Anne, Jones)",NY,M,USA
"List(Jen, Mary, Brown)",NY,M,USA
"List(Mike, Mary, Williams)",OH,M,USA

In [0]:
# when() and otherwise()
# it is similar to sql case when executes sequence of expressions until it matches the condition and return a value when match

In [0]:
from pyspark.sql.functions import when 
df1= df2.select(df2.name,df2.gender,when(condition=df2.gender=='M',value='Male')\
              .when(condition=df2.gender=='F',value='Female')\
              .otherwise('unknown').alias('gender-'))
df1.show()

+--------------------+------+-------+
|                name|gender|gender-|
+--------------------+------+-------+
|{James, null, Smith}|     M|   Male|
|      {Anna, Rose, }|     F| Female|
| {Julia, , Williams}|     F| Female|
|{Maria, Anne, Jones}|     M|   Male|
|  {Jen, Mary, Brown}|     M|   Male|
|{Mike, Mary, Will...|     M|   Male|
+--------------------+------+-------+

# function of column of dataframe
# .alias() .asc() .desc() .cast() .like()
# functions on column of dataframe in pyspark

# rename the column of dataframe

In [0]:
data=[(1,'Umair','M',200),(2,'zee',"M",300),(3,'jafar','M',250),(4,"pihu","F",500)]
schema=['id','name','gender','marks']
df=spark.createDataFrame(data,schema)
df.display()

id,name,gender,marks
1,Umair,M,200
2,zee,M,300
3,jafar,M,250
4,pihu,F,500

In [0]:
df1=df.select(df.id.alias('student_id'),df.name.alias('student_name')).show()

+----------+------------+
|student_id|student_name|
+----------+------------+
|         1|       Umair|
|         2|         zee|
|         3|       jafar|
|         4|        pihu|
+----------+------------+

# asc() and desc()

In [0]:
#  sort columns ascending and descending order

In [0]:
data= [(1,'umair','M',200),(2,'faizan','M',400),(3,'vinayak','M',300)]
schema=['id','name','gender','salary']
df=spark.createDataFrame(data,schema)
df.sort(df.name.asc()).show()

+---+-------+------+------+
| id|   name|gender|salary|
+---+-------+------+------+
|  2| faizan|     M|   400|
|  1|  umair|     M|   200|
|  3|vinayak|     M|   300|
+---+-------+------+------+

In [0]:
df.sort(df.salary.desc()).show()

+---+-------+------+------+
| id|   name|gender|salary|
+---+-------+------+------+
|  2| faizan|     M|   400|
|  3|vinayak|     M|   300|
|  1|  umair|     M|   200|
+---+-------+------+------+

In [0]:
df.sort(df.name.desc()).show()

+---+-------+------+------+
| id|   name|gender|salary|
+---+-------+------+------+
|  3|vinayak|     M|   300|
|  1|  umair|     M|   200|
|  2| faizan|     M|   400|
+---+-------+------+------+

In [0]:
df=df.sort(df.name.desc())
df.show()

+---+-------+------+------+
| id|   name|gender|salary|
+---+-------+------+------+
|  3|vinayak|     M|   300|
|  1|  umair|     M|   200|
|  2| faizan|     M|   400|
+---+-------+------+------+

# cast()

In [0]:
# use to convert the data type of column in data frame

In [0]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

In [0]:
# we need to change the datatype of salary and id as integer

In [0]:
df1=(df.select(df.name,df.gender,df.id.cast('int'),df.salary.cast('int')))

In [0]:
df1.printSchema()
# help(df.select(df.id.cast))

root
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- id: integer (nullable = true)
 |-- salary: integer (nullable = true)

# like()

In [0]:
# similary to sql like expression

In [0]:
df.show()

+---+-------+------+------+
| id|   name|gender|salary|
+---+-------+------+------+
|  1|  umair|     M|   200|
|  2| faizan|     M|   400|
|  3|vinayak|     M|   300|
+---+-------+------+------+

In [0]:
df.filter(df.name.like('u%')).show()

+---+-----+------+------+
| id| name|gender|salary|
+---+-----+------+------+
|  1|umair|     M|   200|
+---+-----+------+------+

In [0]:
df.filter(df.name=='umair').show()

+---+-----+------+------+
| id| name|gender|salary|
+---+-----+------+------+
|  1|umair|     M|   200|
+---+-----+------+------+

In [0]:
df.filter(df.name.like('%n')).show()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  2|faizan|     M|   400|
+---+------+------+------+

In [0]:
df.filter(df.gender=='M').show()

+---+-------+------+------+
| id|   name|gender|salary|
+---+-------+------+------+
|  1|  umair|     M|   200|
|  2| faizan|     M|   400|
|  3|vinayak|     M|   300|
+---+-------+------+------+

In [0]:
df.filter(df.id>=2).show()

+---+-------+------+------+
| id|   name|gender|salary|
+---+-------+------+------+
|  2| faizan|     M|   400|
|  3|vinayak|     M|   300|
+---+-------+------+------+

In [0]:
df.filter(df.id<=2).show()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1| umair|     M|   200|
|  2|faizan|     M|   400|
+---+------+------+------+

# Filter() and Where()

In [0]:
# pyspark filter() function is used to filter the rows from DataFrame based on the given condition or sql expression

In [0]:
# you can also use where() clause instead of the filter if you are coming from an sql background both of this functions operate exactly same

In [0]:
df.where(df.gender=='M').show()

+---+-------+------+------+
| id|   name|gender|salary|
+---+-------+------+------+
|  1|  umair|     M|   200|
|  2| faizan|     M|   400|
|  3|vinayak|     M|   300|
+---+-------+------+------+

In [0]:
df.filter(df.gender=='M').show()

+---+-------+------+------+
| id|   name|gender|salary|
+---+-------+------+------+
|  1|  umair|     M|   200|
|  2| faizan|     M|   400|
|  3|vinayak|     M|   300|
+---+-------+------+------+

In [0]:
df.filter((df.salary==200) & (df.gender=='M')).show()

+---+-----+------+------+
| id| name|gender|salary|
+---+-----+------+------+
|  1|umair|     M|   200|
+---+-----+------+------+

In [0]:
df.where((df.salary==300) & (df.gender=='M')).show()

+---+-------+------+------+
| id|   name|gender|salary|
+---+-------+------+------+
|  3|vinayak|     M|   300|
+---+-------+------+------+

In [0]:
df.where((df.name=='umair') | (df.salary==500)).show()

+---+-----+------+------+
| id| name|gender|salary|
+---+-----+------+------+
|  1|umair|     M|   200|
+---+-----+------+------+

# distinct() and dropDuplicates() in pyspark

In [0]:
# pyspark distinct()function is usede to remove the duplicates rows ( all column)

In [0]:
# dropDuplicates() is used to drop rows based on selected (one or multiple) columns.

In [0]:
# so basically using these functions we can get distinct rows.

In [0]:
data=[(1, 'umair', 'M', 200), (2, 'faizan', 'M', 400), (3, 'vinayak', 'M', 300),(1, 'umair', 'M', 200),(3, 'vinayak', 'M', 300)]
schema=['id','name','gender','salary']
df=spark.createDataFrame(data,schema)

In [0]:
df.dropDuplicates().show()

+---+-------+------+------+
| id|   name|gender|salary|
+---+-------+------+------+
|  1|  umair|     M|   200|
|  2| faizan|     M|   400|
|  3|vinayak|     M|   300|
+---+-------+------+------+

In [0]:
df.dropDuplicates(['gender']).show()

+---+-----+------+------+
| id| name|gender|salary|
+---+-----+------+------+
|  1|umair|     M|   200|
+---+-----+------+------+

In [0]:
df.dropDuplicates(['gender','salary']).show()

+---+-------+------+------+
| id|   name|gender|salary|
+---+-------+------+------+
|  1|  umair|     M|   200|
|  3|vinayak|     M|   300|
|  2| faizan|     M|   400|
+---+-------+------+------+

In [0]:
df.distinct().show()

+---+-------+------+------+
| id|   name|gender|salary|
+---+-------+------+------+
|  1|  umair|     M|   200|
|  2| faizan|     M|   400|
|  3|vinayak|     M|   300|
+---+-------+------+------+

# it does'nt work
# df.distinct(['gender']).show()

# groupBy()
similar to sql groupby clause pyspark groupby() function is used to collect the identical data into groups on dataframe and perform count, sum, min, max, function on the grouped data.

In [0]:
# df = spark.createDataFrame(data,schema)

In [0]:
data=[(1, 'umair', 'M', 600), (2, 'faizan', 'M', 400), (3, 'vinayak', 'M', 900),(1, 'umair', 'M', 100),(3, 'vinayak', 'M', 400)]
schema=['id','name','gender','salary']
df=spark.createDataFrame(data,schema)

In [0]:
df.groupBy('name').count().show()

+-------+-----+
|   name|count|
+-------+-----+
|  umair|    2|
| faizan|    1|
|vinayak|    2|
+-------+-----+

In [0]:
df.groupBy('name').max().show()

+-------+-------+-----------+
|   name|max(id)|max(salary)|
+-------+-------+-----------+
|  umair|      1|        600|
| faizan|      2|        400|
|vinayak|      3|        900|
+-------+-------+-----------+

In [0]:
df.groupBy('name').min('salary').show()

+-------+-----------+
|   name|min(salary)|
+-------+-----------+
|  umair|        100|
| faizan|        400|
|vinayak|        400|
+-------+-----------+

In [0]:
df.groupBy('name').avg('salary').show()

+-------+-----------+
|   name|avg(salary)|
+-------+-----------+
|  umair|      350.0|
| faizan|      400.0|
|vinayak|      650.0|
+-------+-----------+

In [0]:
df.groupBy('name','gender').count().show()

+-------+------+-----+
|   name|gender|count|
+-------+------+-----+
|  umair|     M|    2|
| faizan|     M|    1|
|vinayak|     M|    2|
+-------+------+-----+

# Agre function

In [0]:
# groupBy().agg() function in pyspark

# pyspark groupBy() agg() is used to calculate more than one aggregate (multiple aggregates) at a time on grouped DataFrame

from pyspark.sql.functions import count, min, max ,sum
df.groupBy('name').agg(sum('salary').alias('income')).show()

+-------+------+
|   name|income|
+-------+------+
|  umair|   700|
| faizan|   400|
|vinayak|  1300|
+-------+------+

In [0]:
df.groupBy('id').agg(count('*').alias('no of condidate'),\
min('salary').alias('min salary'),\
max('salary').alias('max salary')).show()

+---+---------------+----------+----------+
| id|no of condidate|min salary|max salary|
+---+---------------+----------+----------+
|  1|              2|       100|       600|
|  2|              1|       400|       400|
|  3|              2|       400|       900|
+---+---------------+----------+----------+

# unionByName() in pysaprk

In [0]:
# UnionByName() lets you to merge/ union teo DataFrame with a different number of column (different schema) by passing allowMissingColumn with the value True

In [0]:
data1 = [(1,'umair','male')]
schema1=['id','name','gender']

data2= [(2,'pihu','female')]
schema2=['id','name','salary']

df1=spark.createDataFrame(data1,schema1)
df2=spark.createDataFrame(data2,schema2)

In [0]:
df1.union(df2).show()

+---+-----+------+
| id| name|gender|
+---+-----+------+
|  1|umair|  male|
|  2| pihu|female|
+---+-----+------+

In [0]:
data1 = [(1,'umair','male')]
schema1=['id','name','gender']

data2= [(2,'pihu',2000)]
schema2=['id','name','salary']

df1=spark.createDataFrame(data1,schema1)
df2=spark.createDataFrame(data2,schema2)

df1.unionByName(allowMissingColumns=True,other=df2).show()

+---+-----+------+------+
| id| name|gender|salary|
+---+-----+------+------+
|  1|umair|  male|  null|
|  2| pihu|  null|  2000|
+---+-----+------+------+

In [0]:
data1 = [(1,'umair','male')]
schema1=['id','name','gender']

data2= [(2,'pihu','female')]
schema2=['id','name','gender']

df1=spark.createDataFrame(data1,schema1)
df2=spark.createDataFrame(data2,schema2)

df1.unionByName(other=df2).show()

+---+-----+------+
| id| name|gender|
+---+-----+------+
|  1|umair|  male|
|  2| pihu|female|
+---+-----+------+

# select() function in pyspark

In [0]:
# select() function is used to select single multiple, column by index all  column from the list and the nested column from a DataFrame

In [0]:
data = [(1,'umair','male',20000),(2,'pihu','female',28000),(3,'annu','female',25000)]
schema=['id','name','gender','salary']
df=spark.createDataFrame(data,schema)

In [0]:
# select single or multiple columns
df.select('id','name').show()

+---+-----+
| id| name|
+---+-----+
|  1|umair|
|  2| pihu|
|  3| annu|
+---+-----+

In [0]:
# 1
df.select('name','salary').show()

+-----+------+
| name|salary|
+-----+------+
|umair| 20000|
| pihu| 28000|
| annu| 25000|
+-----+------+

In [0]:
# 2
df.select(df.name,df.salary).show()

+-----+------+
| name|salary|
+-----+------+
|umair| 20000|
| pihu| 28000|
| annu| 25000|
+-----+------+

In [0]:
# 3
df.select(df['name'],df['salary']).show()

+-----+------+
| name|salary|
+-----+------+
|umair| 20000|
| pihu| 28000|
| annu| 25000|
+-----+------+

In [0]:
df.select(['name','salary']).show()

+-----+------+
| name|salary|
+-----+------+
|umair| 20000|
| pihu| 28000|
| annu| 25000|
+-----+------+

# using col() function

In [0]:
from pyspark.sql.functions import col
df.select(col('id'),col('name')).show()

+---+-----+
| id| name|
+---+-----+
|  1|umair|
|  2| pihu|
|  3| annu|
+---+-----+

# join() function in pyspark
inner, left, right, full

In [0]:
right=emp_df.join(dep_df, dep_df.id==emp_df.id, 'right')
right.show()

+----+-----+------+----+---+-------+
|  id| name|salary| age| id| stream|
+----+-----+------+----+---+-------+
|   1|umair|  2000|  25|  1|     IT|
|   2| pihu|  2500|  25|  2|  civil|
|   3| annu|  1500|  23|  3|finance|
|null| null|  null|null|  6|    law|
|null| null|  null|null|  5|     HR|
+----+-----+------+----+---+-------+

In [0]:
left = emp_df.join(dep_df, dep_df.id==emp_df.id, 'left')
left.show()

+---+-------+------+---+----+-------+
| id|   name|salary|age|  id| stream|
+---+-------+------+---+----+-------+
|  1|  umair|  2000| 25|   1|     IT|
|  2|   pihu|  2500| 25|   2|  civil|
|  3|   annu|  1500| 23|   3|finance|
|  4|zeeshan|  5500| 28|null|   null|
|  7|  jafar|  1000| 26|null|   null|
+---+-------+------+---+----+-------+

In [0]:
inner=emp_df.join(dep_df, emp_df.id==dep_df.id, 'inner')
inner.show()

+---+-----+------+---+---+-------+
| id| name|salary|age| id| stream|
+---+-----+------+---+---+-------+
|  1|umair|  2000| 25|  1|     IT|
|  2| pihu|  2500| 25|  2|  civil|
|  3| annu|  1500| 23|  3|finance|
+---+-----+------+---+---+-------+

In [0]:
data1=[(1,'umair',2000,25),(2,'pihu',2500,25),(3,'annu',1500,23),(4,'zeeshan',5500,28),(7,'jafar',1000,26)]
data2=[(1,'IT'),(2,'civil'),(3,'finance'),(6,'law'),(5,'HR')]

schema1=['id','name','salary','age']
schema2=['id','stream']

emp_df=spark.createDataFrame(data1,schema1)
dep_df=spark.createDataFrame(data2,schema2)

emp_df.show()
dep_df.show()

+---+-------+------+---+
| id|   name|salary|age|
+---+-------+------+---+
|  1|  umair|  2000| 25|
|  2|   pihu|  2500| 25|
|  3|   annu|  1500| 23|
|  4|zeeshan|  5500| 28|
|  7|  jafar|  1000| 26|
+---+-------+------+---+

+---+-------+
| id| stream|
+---+-------+
|  1|     IT|
|  2|  civil|
|  3|finance|
|  6|    law|
|  5|     HR|
+---+-------+

In [0]:
# join() is like sql join we can combine columns from different dataframe based on condition it support all basic join types such as inner, left, outer, right outer, left anti, left semi, cross, self

In [0]:
full=emp_df.join(dep_df, dep_df.id==emp_df.id, 'full')
full.show()

+----+-------+------+----+----+-------+
|  id|   name|salary| age|  id| stream|
+----+-------+------+----+----+-------+
|   1|  umair|  2000|  25|   1|     IT|
|   2|   pihu|  2500|  25|   2|  civil|
|   3|   annu|  1500|  23|   3|finance|
|   4|zeeshan|  5500|  28|null|   null|
|null|   null|  null|null|   5|     HR|
|null|   null|  null|null|   6|    law|
|   7|  jafar|  1000|  26|null|   null|
+----+-------+------+----+----+-------+

In [0]:
cross=emp_df.join(dep_df, dep_df.id==emp_df.id, 'cross')
cross.show()

+---+-----+------+---+---+-------+
| id| name|salary|age| id| stream|
+---+-----+------+---+---+-------+
|  1|umair|  2000| 25|  1|     IT|
|  2| pihu|  2500| 25|  2|  civil|
|  3| annu|  1500| 23|  3|finance|
+---+-----+------+---+---+-------+

In [0]:
# how : str, optional
#         default ``inner``. Must be one of: ``inner``, ``cross``, ``outer``,
#         ``full``, ``fullouter``, ``full_outer``, ``left``, ``leftouter``, ``left_outer``,
#         ``right``, ``rightouter``, ``right_outer``, ``semi``, ``leftsemi``, ``left_semi``,
#         ``anti``, ``leftanti`` and ``left_anti``.

In [0]:
cross=emp_df.join(dep_df, dep_df.id==emp_df.id, 'semi')
cross.show()

+---+-----+------+---+
| id| name|salary|age|
+---+-----+------+---+
|  1|umair|  2000| 25|
|  2| pihu|  2500| 25|
|  3| annu|  1500| 23|
+---+-----+------+---+

In [0]:
cross=emp_df.join(dep_df, dep_df.id==emp_df.id, 'anti')
cross.show()

+---+-------+------+---+
| id|   name|salary|age|
+---+-------+------+---+
|  4|zeeshan|  5500| 28|
|  7|  jafar|  1000| 26|
+---+-------+------+---+

In [0]:
cross=emp_df.join(dep_df, dep_df.id==emp_df.id, 'full_outer')
cross.show()

+----+-------+------+----+----+-------+
|  id|   name|salary| age|  id| stream|
+----+-------+------+----+----+-------+
|   1|  umair|  2000|  25|   1|     IT|
|   2|   pihu|  2500|  25|   2|  civil|
|   3|   annu|  1500|  23|   3|finance|
|   4|zeeshan|  5500|  28|null|   null|
|null|   null|  null|null|   5|     HR|
|null|   null|  null|null|   6|    law|
|   7|  jafar|  1000|  26|null|   null|
+----+-------+------+----+----+-------+

# join() in pyspark continuation left semi, left anti, self

leftsemi join is simmiler to inner join but get column only from left dataframe for matching rows

leftanti opposite to leftsemi, it gets not matching rows from left dataframe 

self join, join data with same dataframe

In [0]:
data1=[(1,'umair',2000,25),(2,'pihu',2500,25),(3,'annu',1500,23),(4,'zeeshan',5500,28),(7,'jafar',1000,26)]
data2=[(1,'IT'),(2,'civil'),(3,'finance'),(6,'law'),(5,'HR')]

schema1=['id','name','salary','age']
schema2=['id','stream']

emp_df=spark.createDataFrame(data1,schema1)
dep_df=spark.createDataFrame(data2,schema2)

emp_df.show()
dep_df.show()

+---+-------+------+---+
| id|   name|salary|age|
+---+-------+------+---+
|  1|  umair|  2000| 25|
|  2|   pihu|  2500| 25|
|  3|   annu|  1500| 23|
|  4|zeeshan|  5500| 28|
|  7|  jafar|  1000| 26|
+---+-------+------+---+

+---+-------+
| id| stream|
+---+-------+
|  1|     IT|
|  2|  civil|
|  3|finance|
|  6|    law|
|  5|     HR|
+---+-------+

In [0]:
emp_df.join(dep_df, emp_df.id==dep_df.id, 'leftanti').show()

+---+-------+------+---+
| id|   name|salary|age|
+---+-------+------+---+
|  4|zeeshan|  5500| 28|
|  7|  jafar|  1000| 26|
+---+-------+------+---+

In [0]:
emp_df.join(dep_df, dep_df.id==emp_df.id, 'leftsemi').show()

+---+-----+------+---+
| id| name|salary|age|
+---+-----+------+---+
|  1|umair|  2000| 25|
|  2| pihu|  2500| 25|
|  3| annu|  1500| 23|
+---+-----+------+---+

In [0]:
data=[(1,'umair',0),(2,'annu',1),(3,'pihu',2)]
schema=['id','name','managerid']
df=spark.createDataFrame(data,schema)
df.show()

emp = manager = df

+---+-----+---------+
| id| name|managerid|
+---+-----+---------+
|  1|umair|        0|
|  2| annu|        1|
|  3| pihu|        2|
+---+-----+---------+

In [0]:
from pyspark.sql.functions import col
df1= df.alias('emp').join(df.alias('manager'), emp.managerid==manager.id,'inner')\
.select(emp.name, manager.name.alias('manager_name')).show()

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
<command-14271223519173> in <cell line: 2>()
      1 from pyspark.sql.functions import col
----> 2 df1= df.alias('emp').join(df.alias('manager'), emp.managerid==manager.id,'inner')\
      3 .select(emp.name, manager.name.alias('manager_name')).show()

/databricks/spark/python/pyspark/instrumentation_utils.py in wrapper(*args, **kwargs)
     46             start = time.perf_counter()
     47             try:
---> 48                 res = func(*args, **kwargs)
     49                 logger.log_success(
     50                     module_name, class_name, function_name, time.perf_counter() - start, signature

/databricks/spark/python/pyspark/sql/dataframe.py in join(self, other, on, how)
   1623                 on = self._jseq([])
   1624             assert isinstance(how, str), "how should be a string"
-> 1625             jdf = self._jdf.join(other._jdf, on, how)
   1626         return DataFrame(jdf, self.sparkSession)
   1627

/databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py in __call__(self, *args)
   1319
   1320         answer = self.gateway_client.send_command(command)
-> 1321         return_value = get_return_value(
   1322             answer, self.gateway_client, self.target_id, self.name)
   1323

/databricks/spark/python/pyspark/sql/utils.py in deco(*a, **kw)
    200                 # Hide where the exception came from that shows a non-Pythonic
    201                 # JVM exception message.
--> 202                 raise converted from None
    203             else:
    204                 raise

AnalysisException:  Column managerid#942L, id#940L are ambiguous. It's probably because you joined several Datasets together, and some of these Datasets are the same. This column points to one of the Datasets but Spark is unable to figure out which one. Please alias the Datasets with different names via `Dataset.as` before joining them, and specify the column using qualified name, e.g. `df.as("a").join(df.as("b"), $"a.id" > $"b.id")`. You can also set spark.sql.analyzer.failAmbiguousSelfJoin to false to disable this check.

In [0]:
emp.join(manager, col(emp.managerid)==col(manager.id),'left')\
.select(col('emp.name'),col('manager.name').alias('manager_name')).show()

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<command-14271223519174> in <cell line: 1>()
----> 1 emp.join(manager, col(emp.managerid)==col(manager.id),'left')\
      2 .select(col('emp.name'),col('manager.name').alias('manager_name')).show()

/databricks/spark/python/pyspark/sql/functions.py in col(col)
    152     Column<'x'>
    153     """
--> 154     return _invoke_function("col", col)
    155
    156

/databricks/spark/python/pyspark/sql/functions.py in _invoke_function(name, *args)
     85     assert SparkContext._active_spark_context is not None
     86     jf = _get_jvm_function(name, SparkContext._active_spark_context)
---> 87     return Column(jf(*args))
     88
     89

/databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py in __call__(self, *args)
   1311
   1312     def __call__(self, *args):
-> 1313         args_command, temp_args = self._build_args(*args)
   1314
   1315         command = proto.CALL_COMMAND_NAME +\

/databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py in _build_args(self, *args)
   1275     def _build_args(self, *args):
   1276         if self.converters is not None and len(self.converters) > 0:
-> 1277             (new_args, temp_args) = self._get_args(args)
   1278         else:
   1279             new_args = args

/databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py in _get_args(self, args)
   1262                 for converter in self.gateway_client.converters:
   1263                     if converter.can_convert(arg):
-> 1264                         temp_arg = converter.convert(arg, self.gateway_client)
   1265                         temp_args.append(temp_arg)
   1266                         new_args.append(temp_arg)

/databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_collections.py in convert(self, object, gateway_client)
    508         ArrayList = JavaClass("java.util.ArrayList", gateway_client)
    509         java_list = ArrayList()
--> 510         for element in object:
    511             java_list.add(element)
    512         return java_list

/databricks/spark/python/pyspark/sql/column.py in __iter__(self)
    565
    566     def __iter__(self) -> None:
--> 567         raise TypeError("Column is not iterable")
    568
    569     # string methods

TypeError: Column is not iterable

# pivot() function in pyspark 
it,s is use to rotate data in one column into multiple colmuns
it is an aggregation where one of the grouping column values will be converted in individual columns.

In [0]:
data=[(1,'umair','male','IT'),(2,'pihu','female','civil'),(3,'annu','female','finance'),(4,'aish','female','HR')]
schema=['id','name','gender','stream']

df=spark.createDataFrame(data,schema)
df.show()

+---+-----+------+-------+
| id| name|gender| stream|
+---+-----+------+-------+
|  1|umair|  male|     IT|
|  2| pihu|female|  civil|
|  3| annu|female|finance|
|  4| aish|female|     HR|
+---+-----+------+-------+

In [0]:
df.dropna().show()

+---+----+------+------+-----+
| id|name|gender|salary|  dep|
+---+----+------+------+-----+
|  2|pihu|female|   200|civil|
|  3|annu|female|   150|   HR|
+---+----+------+------+-----+

In [0]:
df=spark.createDataFrame(rdd,['id','name'])
df.show()

+---+-----+
| id| name|
+---+-----+
|  1|umair|
|  2| pihu|
+---+-----+

In [0]:
# to view global temp tables
spark.catalog.listTables('global_temp')

Out[74]: [Table(name='empGlobal', catalog=None, namespace=['global_temp'], description=None, tableType='TEMPORARY', isTemporary=True),
 Table(name='emplyees', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True)]

In [0]:
df.groupBy('Stream').pivot('gender',['male','female']).count().show()

+-------+----+------+
| Stream|male|female|
+-------+----+------+
|finance|null|     1|
|     HR|null|     1|
|  civil|null|     1|
|     IT|   1|  null|
+-------+----+------+

In [0]:
data= [(1,'umair','male',100,None),(2,'pihu',None,250,'civil'),(3,'annu','female',125,'finance')]
schema=['id','name','gender','salary','dep']

df=spark.createDataFrame(data,schema)
df.display()

id,name,gender,salary,dep
1,umair,male,100,null
2,pihu,null,250,civil
3,annu,female,125,finance

In [0]:
# these are similar to function in sql we define same logic in function and store them in dataframe and use them in querises.

# simolar to that we can write our own custom logic in python function and register it with pyspark using udf() function

In [0]:
df.fillna('data science').show()

+---+-----+------+------+------------+
| id| name|gender|salary|         dep|
+---+-----+------+------+------------+
|  1|umair|  male|   100|data science|
|  2| pihu|female|   200|       civil|
|  3| annu|female|   150|          HR|
+---+-----+------+------+------------+

# 40. UDF (user define functions)in pyspark
what is udf

why do we need it

how to create and use it

# sample() function in pyspark
to get the random sampling subset from the large dataset   
use fraction to indicate what percentage of data to return and seed value to make sure every time to get some random sample.

In [0]:
data=[('umair','memon'),('pihu','patel')]
rdd=spark.sparkContext.parallelize(data)
rdd1=rdd.map(lambda x:x+(x[0]+' '+x[1],))
print(rdd1.collect())

[('umair', 'memon', 'umair memon'), ('pihu', 'patel', 'pihu patel')]

In [0]:
df.groupBy('name').pivot('Stream').count().show()

+-----+----+----+-----+-------+
| name|  HR|  IT|civil|finance|
+-----+----+----+-----+-------+
| pihu|null|null|    1|   null|
| annu|null|null| null|      1|
| aish|   1|null| null|   null|
|umair|null|   1| null|   null|
+-----+----+----+-----+-------+

In [0]:
df.select('dep',expr("stack(2,'pottiya',female,'potte',male)as (sex,count)")).show()

+-------+-------+-----+
|    dep|    sex|count|
+-------+-------+-----+
|     IT|pottiya|    5|
|     IT|  potte|    8|
|payroll|pottiya|    2|
|payroll|  potte|    3|
|     HR|pottiya|    4|
|     HR|  potte|    2|
+-------+-------+-----+

In [0]:
df.createOrReplaceTempView('emplyees')
df1=spark.sql('select * from emplyees ')
df1.show()

+---+-----+------+------+-------+
| id| name|gender|salary|    dep|
+---+-----+------+------+-------+
|  1|umair|  male|   100|   null|
|  2| pihu|  null|   250|  civil|
|  3| annu|female|   125|finance|
+---+-----+------+------+-------+

# stach() unpivot DataFrame in pyspark 
unpivot is rotating column in rows pyspark sql doesn't have unpivot function hence will use the stack() function

In [0]:
df1=df.groupBy('id').pivot('stream').count().show()

+---+----+----+-----+-------+
| id|  HR|  IT|civil|finance|
+---+----+----+-----+-------+
|  1|null|   1| null|   null|
|  3|null|null| null|      1|
|  2|null|null|    1|   null|
|  4|   1|null| null|   null|
+---+----+----+-----+-------+

In [0]:
df.na.fill('data science').show()

+---+-----+------+------+------------+
| id| name|gender|salary|         dep|
+---+-----+------+------+------------+
|  1|umair|  male|   100|data science|
|  2| pihu|female|   200|       civil|
|  3| annu|female|   150|          HR|
+---+-----+------+------+------------+

In [0]:
from pyspark.sql.functions import upper 
def convertToUpper(df):
    return df.withColumn('name',upper(df.name))

In [0]:
data= [(1,'umair','male',100,None),(2,'pihu',None,250,'civil'),(3,'annu','female',125,'finance')]
schema=['id','name','gender','salary','dep']

df=spark.createDataFrame(data,schema)
df.display()

id,name,gender,salary,dep
1,umair,male,100,null
2,pihu,null,250,civil
3,annu,female,125,finance

In [0]:
print(dataRows[0][0])

1

In [0]:
%sql
select id, upper(name) from emplyees

id,upper(name)
1,UMAIR
2,PIHU
3,ANNU

In [0]:
df1=df.transform(convertToUpper).transform(doubleTheSalary)
df1.show()

+---+-----+------+
| id| name|Salary|
+---+-----+------+
|  1|UMAIR|   400|
|  2| PIHU|   450|
|  3| ANNU|   350|
+---+-----+------+

In [0]:
df.dropna('all').show()

+---+-----+------+------+-----+
| id| name|gender|salary|  dep|
+---+-----+------+------+-----+
|  1|umair|  male|   100| null|
|  2| pihu|female|   200|civil|
|  3| annu|female|   150|   HR|
+---+-----+------+------+-----+

In [0]:
df.withColumn('totalpay',TotalPay(df.salary,df.bonus)).show()

+---+-----+------+-----+--------+
| id| name|salary|bonus|totalpay|
+---+-----+------+-----+--------+
|  1|umair|  2000|  500|    2500|
|  2| pihu|  3000|  200|    3200|
|  3| annu|  2200|  100|    2300|
+---+-----+------+-----+--------+

# collect() 
collect() retrive all elements in a dataframe as an array of row type to the driver node

coolect is the action hence it does not return a dataframe instead it return data in an array to the drive. once the data is in a array you can use python for loop to process it further.

collect() use it with small DataFrame with big DataFRame it may result in out of memeory error as it return entire data to sinle node (driver)

# fill(), fillna() function in pyspark
fillna( )  or DataFrame.Nafunctions.fill() is used to replace Null/none values on all or selected multiple daataframe columns with either zero(0), empty string, space, or any constrant literal values

# 37 pyspark.sql.functions.transformation() function in pyspark

it is used to apply the transformation on a column of type array this function applies the specified transformation on every element of the array and return an object of ArrayType

In [0]:
from pyspark.sql.functions import expr

df.select('dep',expr("stack(2,'Male',male,'Female',female)as (Gender,Count)")).show()

+-------+------+-----+
|    dep|Gender|Count|
+-------+------+-----+
|     IT|  Male|    8|
|     IT|Female|    5|
|payroll|  Male|    3|
|payroll|Female|    2|
|     HR|  Male|    2|
|     HR|Female|    4|
+-------+------+-----+

In [0]:
from pyspark.sql.functions import transform
df.select('id','name',transform('skills',lambda x:upper(x)).alias('skills')).show()

+---+-----+-----------------+
| id| name|           skills|
+---+-----+-----------------+
|  1|umair|      [AZURE, ML]|
|  2|  zee|[PYTHON, PYSPARK]|
+---+-----+-----------------+

In [0]:
data=[(1,'umair'),(2,'pihu')]
rdd=spark.sparkContext.parallelize(data)
print(rdd.collect())

[(1, 'umair'), (2, 'pihu')]

In [0]:
df.show()
df.createOrReplaceGlobalTempView('empGlobal')

# list tables from current session
spark.catalog.listTables(spark.catalog.currentDatabase())

# to view global temp tables
# spark.catalog.listTables('global_temp')

+---+-----+------+------+-------+
| id| name|gender|salary|    dep|
+---+-----+------+------+-------+
|  1|umair|  male|   100|   null|
|  2| pihu|  null|   250|  civil|
|  3| annu|female|   125|finance|
+---+-----+------+------+-------+

Out[73]: [Table(name='emplyees', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True)]

In [0]:
df.fillna('unknown',['dep']).show()

+---+-----+------+------+-------+
| id| name|gender|salary|    dep|
+---+-----+------+------+-------+
|  1|umair|  male|   100|unknown|
|  2| pihu|female|   200|  civil|
|  3| annu|female|   150|     HR|
+---+-----+------+------+-------+

# 39 createOrReplaceGlobalTempView() function in pyspark

it is used  to create temp views or tables global when can be accessed across the session with in spark application 

to query these table we need append global_temp.<tablename>

# 36 DataFrame.transform()
it is used to chain the custom transformationand this function return the new dataframe after applying the specified transformations.

In [0]:
def doubleTheSalary(df):
    return df.withColumn('Salary',df.salary * 2)

doubleTheSalary(df).show()

+---+-----+------+
| id| name|Salary|
+---+-----+------+
|  1|umair|   400|
|  2| pihu|   450|
|  3| annu|   350|
+---+-----+------+

In [0]:
dataRows=df.collect()
print(dataRows)

[Row(id=1, name='umair', gender='male', salary=100, dep=None), Row(id=2, name='pihu', gender=None, salary=250, dep='civil'), Row(id=3, name='annu', gender='female', salary=125, dep='finance')]

In [0]:
convertToUpper(df).show()

+---+-----+------+
| id| name|salary|
+---+-----+------+
|  1|UMAIR|   200|
|  2| PIHU|   225|
|  3| ANNU|   175|
+---+-----+------+

In [0]:
def totalpay(s,b):
    return s+b

from pyspark.sql.functions import udf, col
from pyspark.sql.types import IntegerType

TotalPay = udf(lambda x,y :totalpay(x,y),IntegerType())

In [0]:
df.groupBy('stream').pivot('gender').count().show()

+-------+------+----+
| stream|female|male|
+-------+------+----+
|finance|     1|null|
|     HR|     1|null|
|  civil|     1|null|
|     IT|  null|   1|
+-------+------+----+

# 42 map() transformation in pyspark

it is RDD transformation used to apply function (lambda)on every element of RDD and return new RDD

DataFRame does not have map() transformation to use with DataFrame you need to generate RDD first

In [0]:
data=[(1,'umair','male',100,None),(2,'pihu','female',200,'civil'),(3,'annu','female',150,'HR')]
schema=['id','name','gender','salary','dep']

df=spark.createDataFrame(data,schema)
df.show()

+---+-----+------+------+-----+
| id| name|gender|salary|  dep|
+---+-----+------+------+-----+
|  1|umair|  male|   100| null|
|  2| pihu|female|   200|civil|
|  3| annu|female|   150|   HR|
+---+-----+------+------+-----+

In [0]:
df.dropna('any').show()

+---+----+------+------+-----+
| id|name|gender|salary|  dep|
+---+----+------+------+-----+
|  2|pihu|female|   200|civil|
|  3|annu|female|   150|   HR|
+---+----+------+------+-----+

In [0]:
# scala code to get spark session id 
# %Scala

UsageError: Line magic function `%Scala` not found.

In [0]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- skills: array (nullable = true)
 |    |-- element: string (containsNull = true)

In [0]:
data=[(1,'umair',200),(2,'pihu',225),(3,'annu',175)]
schema =['id','name','salary']

df=spark.createDataFrame(data,schema)
df.show()

+---+-----+------+
| id| name|salary|
+---+-----+------+
|  1|umair|   200|
|  2| pihu|   225|
|  3| annu|   175|
+---+-----+------+

In [0]:
data=[(1,'umair',2000,500),(2,'pihu',3000,200),(3,"annu",2200,100)]
schema=['id','name','salary','bonus']
df=spark.createDataFrame(data,schema)
df.show()

+---+-----+------+-----+
| id| name|salary|bonus|
+---+-----+------+-----+
|  1|umair|  2000|  500|
|  2| pihu|  3000|  200|
|  3| annu|  2200|  100|
+---+-----+------+-----+

In [0]:
df=rdd.toDF(['id','name'])
df.show()

+---+-----+
| id| name|
+---+-----+
|  1|umair|
|  2| pihu|
+---+-----+

In [0]:
data=[('IT',8,5),('payroll',3,2),('HR',2,4)]
schema=['dep','male','female']

df=spark.createDataFrame(data,schema)
df.show()

+-------+----+------+
|    dep|male|female|
+-------+----+------+
|     IT|   8|     5|
|payroll|   3|     2|
|     HR|   2|     4|
+-------+----+------+

# 41 convert RDD to DataFrame

what is RDD  

convert RDD to DataFrame

it is collection of objects similar to list in oython it is immutable and memory processing

by using parallelize() function of sparkcontext you can create an RDD

In [0]:
data=[(1,'umair',['azure','ML']),(2,'zee',['python','pyspark'])]
schema=['id','name','skills']

df= spark.createDataFrame(data,schema)
df.show()

+---+-----+-----------------+
| id| name|           skills|
+---+-----+-----------------+
|  1|umair|      [azure, ML]|
|  2|  zee|[python, pyspark]|
+---+-----+-----------------+

In [0]:
def convertToUpper1(x):
    return upper(x)

df.select(transform('skills',convertToUpper1).alias('skills')).show()

+-----------------+
|           skills|
+-----------------+
|      [AZURE, ML]|
|[PYTHON, PYSPARK]|
+-----------------+

In [0]:
def fullname(x):
    x=x+(x[0]+' '+x[1],)
    return x
data=[('umair','memon'),('zee','shaik')]
df=spark.createDataFrame(data,['fn','ln'])
rdd1=df.rdd.map(lambda x: fullname(x))
df1=rdd1.toDF(['fn','ln','Fullname'])
df1.show()

+-----+-----+-----------+
|   fn|   ln|   Fullname|
+-----+-----+-----------+
|umair|memon|umair memon|
|  zee|shaik|  zee shaik|
+-----+-----+-----------+

In [0]:
data=[('umair','memon'),('pihu','patel')]
df=spark.createDataFrame(data,['fn','ln'])
rdd1=df.rdd.map(lambda x: x+(x[0]+x[1],))
df1=rdd1.toDF(['fn','ln','fullname'])
df1.show()

+-----+-----+----------+
|   fn|   ln|  fullname|
+-----+-----+----------+
|umair|memon|umairmemon|
| pihu|patel| pihupatel|
+-----+-----+----------+

In [0]:
df1=spark.range(start=1,end=100)

df2=df1.sample(fraction=0.2,seed=123)

df3=df1.sample(fraction=0.1,seed=123)

df2.display()
df3.display()

id
1
5
13
22
29
34
35
36
39
42
46
48
71
82
84
87
94
99

id
35
39
42
46
71
84
87
99

In [0]:
df.select('*', TotalPay(col('salary'),col('bonus'))).alias('totalpay').show()

+---+-----+------+-----+-----------------------+
| id| name|salary|bonus|<lambda>(salary, bonus)|
+---+-----+------+-----+-----------------------+
|  1|umair|  2000|  500|                   2500|
|  2| pihu|  3000|  200|                   3200|
|  3| annu|  2200|  100|                   2300|
+---+-----+------+-----+-----------------------+

# 38 createOrReplaceTempView() function in pyspark 
advantage of spark, you can work with SQL along with DataFrame that Means if you are confortable with sql, you can create temparray view on dataframe by using createOrReplacetempView() and use sql to select and manipulate data.

temp views are session scoped and can not be shared between the sessions.

In [0]:
print(dataRows[0])

Row(id=1, name='umair', gender='male', salary=100, dep=None)

# 43 FlatMap() transformation in pyspark

FlatMap() is a transformation operation that flatten the RDD (array/map DataFrame Column) after applying the function on every element and return a new pyspark RDD.
it's not available in dataframe. Explode() functions can be used in dataframe to flatten arrays.

In [0]:
data=['umair memon','pihu patel']
rdd=spark.sparkContext.parallelize(data)

for item in rdd.collect():
    print(item)
    
rdd1 = rdd.flatMap(lambda x: x.split(' '))
for item in rdd1.collect():
    print(item)

umair memon
pihu patel
umair
memon
pihu
patel

# 44 partitionBy() function in pyspark
its used to partition large Dataset into samller file based on one or multiple columns

In [0]:
data=[(1,'umair','male','IT'),(2,'pihu','female','HR'),(3,'annu','female','IT')]
schema=['id','name','gender','dep']
df=spark.createDataFrame(data,schema)
df.write.parquet(path='dbfs:/FileStore/using_partition',mode='overwrite',partitionBy='dep')

In [0]:
df.write.parquet(path='dbfs:/FileStore/using_partition1',mode='overwrite',partitionBy=['dep','gender'])

# 45 from_json() function to convert json string into MapType
pre-requisite : MapType in pyspark

it is used to convert json string into mapType or StructType in this we discuss about converting into mapType

In [0]:
data=[('umair','{"hair":"black","eye":"brown"}')]
schema=['name','props']
df=spark.createDataFrame(data,schema)
df.show(truncate=False)

+-----+------------------------------+
|name |props                         |
+-----+------------------------------+
|umair|{"hair":"black","eye":"brown"}|
+-----+------------------------------+

In [0]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- props: string (nullable = true)

In [0]:
from pyspark.sql.functions import from_json 
from pyspark.sql.types import *

# propsMap column with MapType generates from json string

# propsMap column with MapType generates from json string
df1=df.withColumn('propsMap',from_json(df.props,MapType(StringType(),StringType())))
df1.show(truncate=False)
df1.printSchema()
#  accessing 'eye' key from MapType column 'propMap'

df2=df1.withColumn('eye',df1.propsMap.eye).withColumn('hair',df1.propsMap.hair)
df2.show(truncate=False)

+-----+------------------------------+-----------------------------+
|name |props                         |propsMap                     |
+-----+------------------------------+-----------------------------+
|umair|{"hair":"black","eye":"brown"}|{hair -> black, eye -> brown}|
+-----+------------------------------+-----------------------------+

root
 |-- name: string (nullable = true)
 |-- props: string (nullable = true)
 |-- propsMap: map (nullable = true)
 |    |-- key: string
 |    |-- value: string (valueContainsNull = true)

+-----+------------------------------+-----------------------------+-----+-----+
|name |props                         |propsMap                     |eye  |hair |
+-----+------------------------------+-----------------------------+-----+-----+
|umair|{"hair":"black","eye":"brown"}|{hair -> black, eye -> brown}|brown|black|
+-----+------------------------------+-----------------------------+-----+-----+

# from_json() function to convert json string into StructType

pre-requisite : StructType() & StructField() in pyspark

it is used to convert json string into MapType or StructType. in this we discuss about converting into MapType

In [0]:
data=[('umair',"{'hair':'black','eye':'brown'}")]
schema=['name','props']
df=spark.createDataFrame(data,schema)
df.show(truncate=False)
df.printSchema()

+-----+------------------------------+
|name |props                         |
+-----+------------------------------+
|umair|{'hair':'black','eye':'brown'}|
+-----+------------------------------+

root
 |-- name: string (nullable = true)
 |-- props: string (nullable = true)

In [0]:
from pyspark.sql.functions import from_json
from pyspark.sql.types import MapType, StructType, StructField

In [0]:
df2=df1.withColumn('eye',df1.propsMap.eye).withColumn('hair',df1.propsMap.hair)
df2.show(truncate=False)

+-----+------------------------------+--------------+-----+-----+
|name |props                         |propsMap      |eye  |hair |
+-----+------------------------------+--------------+-----+-----+
|umair|{'hair':'black','eye':'brown'}|{black, brown}|brown|black|
+-----+------------------------------+--------------+-----+-----+

In [0]:
from pyspark.sql.types import StringType, StructType, StructField 
from pyspark.sql.functions import to_json

In [0]:
df2=df.select(df.name,json_tuple(df.props,'hair','skin').alias('hair','skin'))
df2.show()

+-----+-----+-----+
| name| hair| skin|
+-----+-----+-----+
|umair|black|brown|
| pihu|brown|white|
+-----+-----+-----+

# 49 get_json_object function in pyspark
.from_json() .to_json() .json_tuple()

it is used to extract the json string basrd on path from the json column.

In [0]:
data=[('umair',"{'hair':'black','eye':'brown','skin':'brown'}"),('pihu',"{'hair':'brown','eye':'black','skin':'white'}")]
schema=['name','props']
df=spark.createDataFrame(data,schema)
df.show(truncate=False)
df.printSchema()

+-----+---------------------------------------------+
|name |props                                        |
+-----+---------------------------------------------+
|umair|{'hair':'black','eye':'brown','skin':'brown'}|
|pihu |{'hair':'brown','eye':'black','skin':'white'}|
+-----+---------------------------------------------+

root
 |-- name: string (nullable = true)
 |-- props: string (nullable = true)

In [0]:
from pyspark.sql.functions import json_tuple

# 47 to_json() function in pyspark
pre-requisite : StructType() & StructField in pyspark Maptype in pyspark

to_json() in used to convert DataFrame column MaoType or StructType to json string

In [0]:
structschema = StructType([StructField('hair',StringType()),StructField('eye',StringType())])
df1=df.withColumn('propsMap',from_json(df.props,structschema))
df1.show(truncate=False)
df1.printSchema()

+-----+------------------------------+--------------+
|name |props                         |propsMap      |
+-----+------------------------------+--------------+
|umair|{'hair':'black','eye':'brown'}|{black, brown}|
+-----+------------------------------+--------------+

root
 |-- name: string (nullable = true)
 |-- props: string (nullable = true)
 |-- propsMap: struct (nullable = true)
 |    |-- hair: string (nullable = true)
 |    |-- eye: string (nullable = true)

In [0]:
data=[('umair',{'hair':'black','eye':'brown'})]
schema=['name','props']
df=spark.createDataFrame(data,schema)
df.show(truncate=False)
df.printSchema()

+-----+-----------------------------+
|name |props                        |
+-----+-----------------------------+
|umair|{eye -> brown, hair -> black}|
+-----+-----------------------------+

root
 |-- name: string (nullable = true)
 |-- props: map (nullable = true)
 |    |-- key: string
 |    |-- value: string (valueContainsNull = true)

In [0]:
data=[('umair',"{'hair':'black','eye':'brown','skin':'brown'}"),('pihu',"{'hair':'brown','eye':'black','skin':'white'}")]
schema=['name','props']
df=spark.createDataFrame(data,schema)
df.show(truncate=False)
df.printSchema()

+-----+---------------------------------------------+
|name |props                                        |
+-----+---------------------------------------------+
|umair|{'hair':'black','eye':'brown','skin':'brown'}|
|pihu |{'hair':'brown','eye':'black','skin':'white'}|
+-----+---------------------------------------------+

root
 |-- name: string (nullable = true)
 |-- props: string (nullable = true)

In [0]:
# here 'props_j' column will get generate as json string 
df1=df.withColumn('props_j',to_json(df.props))
df1.show()
df1.printSchema()

+-----+--------------------+--------------------+
| name|               props|             props_j|
+-----+--------------------+--------------------+
|umair|{eye -> brown, ha...|{"eye":"brown","h...|
+-----+--------------------+--------------------+

root
 |-- name: string (nullable = true)
 |-- props: map (nullable = true)
 |    |-- key: string
 |    |-- value: string (valueContainsNull = true)
 |-- props_j: string (nullable = true)

# 48 json_tuple() function in pyspark
pre-requisite: from_json() , to_json()

json_tuple()function is used to query or extract elements from json string column and create as new columns.

In [0]:
from pyspark.sql.functions import get_json_object
df1=df.select('name',get_json_object('props','$props.hair').alias('baal'))
df1.show(truncate=True)
df1.printSchema()

+-----+----+
| name|baal|
+-----+----+
|umair|null|
| pihu|null|
+-----+----+

root
 |-- name: string (nullable = true)
 |-- baal: string (nullable = true)

d
# 50 date function in pyspark
.current_date() .date_formate() .to_date()

DateType default format is yyyy-MM-dd

current_date() get the current system date by default date will be return in yyyy-MM-dd format
to_date() convert date string in datatype we need to specify format of date in the string in the function

In [0]:
from pyspark.sql.functions import current_date, date_format, lit, to_date
df=spark.range(1)
# gives current date in yyyy-MM-dd 
df2=df.withColumn('todaysDate',current_date()).show()

+---+----------+
| id|todaysDate|
+---+----------+
|  0|2023-03-12|
+---+----------+

In [0]:
# convert yyyy/MM/dd datatypes to specified format
df.withColumn('newformat',date_format(lit('2023-03-12'),('MM.dd.yyyy'))).show()

+---+----------+
| id| newformat|
+---+----------+
|  0|03.12.2023|
+---+----------+

In [0]:
# convert string values of date to DateType
df1=df.withColumn('newDateCol',to_date(lit('12.03.2023'),('dd.MM.yyyy'))).show()

+---+----------+
| id|newDateCol|
+---+----------+
|  0|2023-03-12|
+---+----------+

In [0]:
# df1.printSchema()
# df2.printSchema()

# 51 date functions continuation
datediff(); Months_betwwen();add_months()
date_add(); year();month()

In [0]:
from pyspark.sql.functions import datediff, months_between, add_months, date_add, year, month
df=spark.createDataFrame([('2015-04-08','2015-05-08')],['d1','d2'])

In [0]:
df.withColumn('diff',datediff(df.d2,df.d1)).show()

+----------+----------+----+
|        d1|        d2|diff|
+----------+----------+----+
|2015-04-08|2015-05-08|  30|
+----------+----------+----+

In [0]:
df.withColumn('monthsBetween',months_between(df.d2,df.d1)).show()

+----------+----------+-------------+
|        d1|        d2|monthsBetween|
+----------+----------+-------------+
|2015-04-08|2015-05-08|          1.0|
+----------+----------+-------------+

In [0]:
df.withColumn('addmonths',add_months())

In [0]:
from pyspark.sql.functions import col, explode
df = spark.createDataFrame([[[[('k1','v1', 'v2')]]]], ['d'])
df.display()
df2 = df.select(explode(col('d')).alias('d')).select(explode(col('d')).alias('d')).select("d.*").drop("d")
df2.printSchema()
df2.display()

d
"List(List(List(k1, v1, v2)))"

root
 |-- _1: string (nullable = true)
 |-- _2: string (nullable = true)
 |-- _3: string (nullable = true)

_1,_2,_3
k1,v1,v2